Repository doseofted/prim-rpc: changes, and which Woodpecker steps are due for each by the changed paths.
All: lib.example, build:example, build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, lib.ui, build:ui, build:setup

lib.example:
  steps:
    build:example:
      image: node:19.4-bullseye
      commands:
      - corepack enable
      - pnpm install
      - pnpm task dev:build -- --filter=./libs/example
      - pnpm task dev:test -- --filter=./libs/example
      when:
        event:
        - push
        branch:
        - develop
        - feature/*

build:example:
  image: node:19.4-bullseye
  commands:
  - corepack enable
  - pnpm install
  - pnpm task dev:build -- --filter=./libs/example
  - pnpm task dev:test -- --filter=./libs/example

build:plugins:
  image: node:19.4-bullseye
  commands:
  - corepack enable
  - pnpm install
  - pnpm task dev:build -- --filter=./libs/plugins
  - pnpm task dev:test -- --filter=./libs/plugins

lib.rpc:
  steps:
    build:rpc:
      image: node:19.4-bullseye
      commands:
      - corepack enable
      - pnpm install
      - pnpm task dev:build -- --filter=./libs/rpc
      - pnpm task dev:test -- --filter=./libs/rpc
      when:
        event:
        - push
        branch:
        - develop
        - feature/*

build:rpc:
  image: node:19.4-bullseye
  commands:
  - corepack enable
  - pnpm install
  - pnpm task dev:build -- --filter=./libs/rpc
  - pnpm task dev:test -- --filter=./libs/rpc

lib.tooling:
  steps:
    build:tooling:
      image: node:19.4-bullseye
      commands:
      - corepack enable
      - pnpm install
      - pnpm task dev:build -- --filter=./libs/tooling
      - pnpm task dev:test -- --filter=./libs/tooling
      when:
        event:
        - push
        branch:
        - develop
        - feature/*

build:tooling:
  image: node:19.4-bullseye
  commands:
  - corepack enable
  - pnpm install
  - pnpm task dev:build -- --filter=./libs/tooling
  - pnpm task dev:test -- --filter=./libs/tooling

lib.ui:
  steps:
    build:ui:
      image: node:19.4-bullseye
      commands:
      - corepack enable
      - pnpm install
      - pnpm task dev:build -- --filter=./libs/ui
      - pnpm task dev:test -- --filter=./libs/ui
      when:
        event:
        - push
        branch:
        - develop
        - feature/*

build:ui:
  image: node:19.4-bullseye
  commands:
  - corepack enable
  - pnpm install
  - pnpm task dev:build -- --filter=./libs/ui
  - pnpm task dev:test -- --filter=./libs/ui

build:setup:
  image: node:19.4-bullseye
  commands:
  - corepack enable
  - pnpm install

Adjusted modules allowed in production, simplified client setup in docs
  apps/frontend/src/app/prim/[[...prim]]/route.ts
  apps/frontend/src/app/prim/client.ts
Due: none

Trying import of module based on whether window exists
  apps/frontend/src/app/prim/client.ts
Due: none

Debugging serverless environment
  apps/frontend/src/app/prim/client.ts
Due: none

Using deployed URL on server and local path on client
  apps/frontend/src/app/prim/client.ts
Due: none

Added changeset, small change to documentation
  .changeset/plenty-boxes-joke.md
  docs/text/plugins/server.mdx
Due: none

Remove stray brackets in docs
  docs/text/plugins/server.mdx
Due: none

Added example module import to server plugin examples to make more clear
  docs/text/plugins/server.mdx
Due: none

Removed hoist flag in build workflows (I don't believe that it's needed)
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

Made an attempt to use cache in workflows again
  .github/workflows/build.yml
  .github/workflows/publish.yml
  pnpm-workspace.yaml
Due: none

Attempt to fix broken test in Github actions (may possibly break Vercel deployment though)
  pnpm-workspace.yaml
Due: none

Small dependency upgrades
  apps/frontend/package.json
  pnpm-lock.yaml
Due: none

Fix for wrong line number highlighted in setup
  docs/text/setup.mdx
Due: none

Removed pnpm cache from Github actions again (native dependencies like @go-task/cli appear to be missing when cache is enabled)
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

Homepage now uses ISR (since documentation site is basically static excluding example usage)
  apps/frontend/src/pages/index.tsx
Due: none

Rearranged docs to emphasize examples
  apps/frontend/src/components/DocsToc.tsx
  apps/frontend/src/pages/index.tsx
Due: none

Hono support added
  libs/plugins/build.config.js
  libs/plugins/package.json
  libs/plugins/src/server/hono.ts
  libs/plugins/src/server/template/method.ts
  pnpm-lock.yaml
Due: build:plugins, build:setup

Added tests for Hono including file upload abiliy
  libs/example/package.json
  libs/example/src/index.ts
  libs/plugins/package.json
  libs/plugins/src/server/hono.test.ts
  libs/plugins/src/server/hono.ts
  pnpm-lock.yaml
Due: lib.example, build:example, build:plugins, build:setup

Added Hono handler to documentation
  docs/text/plugins/server.mdx
Due: none

Attempt to fix Vercel build cache not being cleared
  pnpm-workspace.yaml
Due: none

Another attempt to fix cache
  pnpm-workspace.yaml
Due: none

Small rewording, added changeset
  .changeset/grumpy-falcons-tie.md
  docs/text/plugins/server.mdx
Due: none

Fixed split in button rows (wrong position in document)
  apps/frontend/src/pages/index.tsx
Due: none

Fix for custom paths using Hono middleware
  libs/plugins/src/server/hono.ts
Due: build:setup

Moved context transform option in Hono handler to allow usage from both method handler and Hono middleware directly
  libs/plugins/src/server/hono.ts
Due: build:setup

Updated documentation to reflect options of Hono handler and added changeset
  .changeset/lazy-pigs-try.md
  docs/text/plugins/server.mdx
Due: none

Documentation Table of Contents is now sticky
  apps/frontend/src/components/DocsToc.tsx
  apps/frontend/src/components/Layout.tsx
  apps/frontend/src/components/LayoutDocs.tsx
  apps/frontend/src/pages/index.tsx
  apps/frontend/src/styles/globals.css
Due: none

Added serverless example link
  docs/text/examples.mdx
Due: none

Workaround for Safari-specific issue with sticky positioning in documentation
  apps/frontend/src/components/LayoutDocs.tsx
Due: none

Now using "destr" package for parsing JSON in Prim RPC core
  .changeset/big-maps-march.md
  docs/text/limitations.mdx
  libs/rpc/package.json
  libs/rpc/src/options.ts
  pnpm-lock.yaml
Due: lib.rpc, build:rpc, build:setup

Added small blur to table of contents on mobile documentation
  apps/frontend/src/components/LayoutDocs.tsx
Due: none

Updated repository policies
  CONTRIBUTING.md
  SECURITY.md
Due: none

Upgraded minor dependencies
  apps/backend/package.json
  apps/frontend/package.json
  libs/plugins/package.json
  libs/rpc/package.json
  libs/tooling/package.json
  libs/ui/package.json
  package.json
  pnpm-lock.yaml
Due: build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, lib.ui, build:ui, build:setup

New version of headlessui now works in documentation site
  apps/frontend/package.json
  apps/frontend/src/components/DocsToc.tsx
  apps/frontend/src/components/Layout.tsx
  apps/frontend/src/components/Modal.tsx
  apps/frontend/src/pages/_app.tsx
  apps/frontend/src/styles/globals.css
  docs/text/examples.mdx
  libs/ui/package.json
  package.json
  pnpm-lock.yaml
Due: lib.ui, build:ui, build:setup

Now using TypeScript 5.1 (found workaround for typedoc-related issue preventing upgrade)
  apps/frontend/package.json
  libs/example/tsconfig.json
  libs/tooling/package.json
  libs/ui/package.json
  package.json
  pnpm-lock.yaml
Due: lib.example, build:example, lib.tooling, build:tooling, lib.ui, build:ui, build:setup

Changes to prepare for app router upgrade in Next.js
  apps/frontend/.eslintrc.cjs
  apps/frontend/next.config.js
  apps/frontend/package.json
  apps/frontend/src/pages/_app.tsx
  apps/frontend/src/pages/index.tsx
  apps/frontend/tailwind.config.cjs
  apps/frontend/tsconfig.json
  pnpm-lock.yaml
Due: none

Added a changeset
  .changeset/witty-carrots-float.md
Due: none

Upgraded pnpm
  package.json
Due: none

Initial draft of security guide
  docs/text/reference/configuration.mdx
  docs/text/security.mdx
  libs/example/src/index.ts
Due: build:setup

Added to security docs
  docs/text/security.mdx
Due: none

Added option to remove stack property from error (when error handling is enabled)
  libs/rpc/src/interfaces.ts
  libs/rpc/src/options.ts
  libs/rpc/src/server.ts
Due: build:setup

Path conditions:
  lib.example: any of: libs/example/*
  build:example: any of: libs/example/*
  build:plugins: any of: libs/plugins/*
  lib.rpc: any of: libs/rpc/*
  build:rpc: any of: libs/rpc/*
  lib.tooling: any of: libs/tooling/*
  build:tooling: any of: libs/tooling/*
  lib.ui: any of: libs/ui/*
  build:ui: any of: libs/ui/*
  build:setup: any of: libs/**
