Repository doseofted/prim-rpc: changes, and which Woodpecker steps are due for each by the changed paths.
All: lib.example, build:example, build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, lib.ui, build:ui, build:setup

.woodpecker/.lib.example.yml:

pipeline:
  build:example:
    image: node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install # --filter=./libs/example
      - pnpm task dev:build -- --filter=./libs/example
      - pnpm task dev:test -- --filter=./libs/example
    when:
      event: [push]
      branch:
        - develop
        - feature/*

when:
  path: "libs/example/*"

.woodpecker/.lib.plugins.yml:

pipeline:
  build:plugins:
    image: node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install # --filter=./libs/plugins
      - pnpm task dev:build -- --filter=./libs/plugins
      - pnpm task dev:test -- --filter=./libs/plugins
    when:
      event: [push]
      branch:
        - develop
        - feature/*
      path: "libs/plugins/*"

.woodpecker/.lib.rpc.yml:

pipeline:
  build:rpc:
    image: node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install # --filter=./libs/rpc
      - pnpm task dev:build -- --filter=./libs/rpc
      - pnpm task dev:test -- --filter=./libs/rpc
    when:
      event: [push]
      branch:
        - develop
        - feature/*

when:
  path: "libs/rpc/*"

.woodpecker/.lib.tooling.yml:

pipeline:
  build:tooling:
    image: node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install # --filter=./libs/tooling
      - pnpm task dev:build -- --filter=./libs/tooling
      - pnpm task dev:test -- --filter=./libs/tooling
    when:
      event: [push]
      branch:
        - develop
        - feature/*

when:
  path: "libs/tooling/*"

.woodpecker/.lib.ui.yml:

pipeline:
  build:ui:
    image: node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install # --filter=./libs/ui
      - pnpm task dev:build -- --filter=./libs/ui
      - pnpm task dev:test -- --filter=./libs/ui
    when:
      event: [push]
      branch:
        - develop
        - feature/*

when:
  path: "libs/ui/*"

.woodpecker/.libs.yml:

pipeline:
  build:setup:
    image: &image node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install
    when: &when
      event:
        - push
      branch:
        - develop
        - feature/*
      path:
        - "libs/**"

  build:example:
    image: *image
    group: build
    commands:
      - pnpm task dev:build -- --filter=./libs/example
      - pnpm task dev:test -- --filter=./libs/example
    when:
      <<: *when
      path: "libs/example/*"

  build:rpc:
    image: *image
    group: build
    commands:
      - pnpm task dev:build -- --filter=./libs/rpc
      - pnpm task dev:test -- --filter=./libs/rpc
    when:
      <<: *when
      path: "libs/rpc/*"

  build:plugins:
    image: *image
    group: build
    commands:
      - pnpm task dev:build -- --filter=./libs/plugins
      - pnpm task dev:test -- --filter=./libs/plugins
    when:
      <<: *when
      path: "libs/plugins/*"

  build:tooling:
    image: *image
    group: build
    commands:
      - pnpm task dev:build -- --filter=./libs/tooling
      - pnpm task dev:test -- --filter=./libs/tooling
    when:
      <<: *when
      path: "libs/tooling/*"

  build:ui:
    image: *image
    group: build
    commands:
      - pnpm task dev:build -- --filter=./libs/ui
      - pnpm task dev:test -- --filter=./libs/ui
    when:
      <<: *when
      path: "libs/ui/*"

Updated dependencies across minor and patch versions
  apps/backend/package.json
  apps/frontend/package.json
  libs/example/package.json
  libs/plugins/package.json
  libs/rpc/package.json
  libs/tooling/package.json
  package.json
  pnpm-lock.yaml
Due: lib.example, build:example, build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, build:setup

Downgraded TypeScript (for now, until issue can be resolved)
  apps/frontend/package.json
  libs/tooling/package.json
  package.json
  pnpm-lock.yaml
Due: lib.tooling, build:tooling, build:setup

Updated more dependencies, highlighted code on homepage now uses Shared Worker (now that Prim RPC supports it)
  apps/frontend/package.json
  apps/frontend/src/components/CodeHighlighted/index.tsx
  apps/frontend/src/styles/globals.css
  libs/plugins/package.json
  libs/rpc/package.json
  libs/tooling/package.json
  package.json
  pnpm-lock.yaml
Due: build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, build:setup

Upgraded version of TypeScript, type definitions for Node now match project version, created workaround for TypeScript error given after upgrading to 5.1.6, upgraded pnpm
  .changeset/selfish-ducks-move.md
  .changeset/slimy-jars-divide.md
  apps/frontend/package.json
  libs/example/package.json
  libs/plugins/package.json
  libs/rpc/package.json
  libs/rpc/src/client.ts
  libs/rpc/src/interfaces.ts
  libs/rpc/src/server.ts
  libs/tooling/package.json
  package.json
  pnpm-lock.yaml
Due: lib.example, build:example, build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, build:setup

Regenerated lockfile after direct upgrades
  pnpm-lock.yaml
Due: none

Added changeset after regenerating lockfile
  .changeset/eight-wasps-give.md
Due: none

Added note that Shared Workers are now supported in the docs
  docs/text/plugins/ipc.mdx
Due: none

Fixed inline warning quotes, specified user-facing documentation in README, added emojis
  CONTRIBUTING.md
  LICENSE.md
  README.md
  SECURITY.md
Due: none

Small rewording of README
  README.md
Due: none

Another small restructure of README
  README.md
Due: none

Moved around sections of README
  README.md
Due: none

Replaced social profile link
  apps/frontend/src/components/Navigation.tsx
  apps/frontend/src/pages/cms.tsx
Due: none

Updates to project documentation
  CONTRIBUTING.md
  README.md
  SECURITY.md
Due: none

Removed unused files, small project docs updates
  LICENSE.md
  README.md
  apps/documentation/Dockerfile
  apps/documentation/entrypoint.mjs
Due: none

Cleaned up Taskfile, added devcontainer, small updates to turborepo config, no longer using scss with Stylelint
  .devcontainer.json
  .dockerignore
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .gitignore
  .prettierignore
  CONTRIBUTING.md
  Taskfile.yml
  apps/documentation/.stylelintrc.json
  apps/documentation/postcss.config.cjs
  apps/documentation/src/app/prim/[[...prim]]/route.ts
  apps/documentation/src/components/Navigation.tsx
  apps/documentation/src/pages/docs/features.mdx
  apps/documentation/src/styles/globals.css
  apps/example/.eslintignore
  apps/example/tsconfig.json
  libs/plugins/build.config.js
  libs/tooling/build.config.js
  package.json
  pnpm-lock.yaml
  prim-rpc.code-workspace
  turbo.json
Due: build:plugins, lib.tooling, build:tooling, build:setup

Adjustments to example server, more project cleanup
  .github/docs-screenshot.png
  README.md
  Taskfile.yml
  apps/example/build.config.js
  apps/example/entrypoint.mjs
  apps/example/package.json
  misc/Taskfile.dev.yml
  misc/dev.Corefile
  misc/dns-answer-address.mjs
  pnpm-lock.yaml
Due: none

Skipping lint check on file that needs to be rewritten
  CONTRIBUTING.md
  README.md
  apps/documentation/src/components/Lights.tsx
Due: none

Attempt to fix broken lint in CI of example server
  apps/example/.eslintrc.cjs
  apps/example/build.config.js
Due: none

Added back command to clean up project
  Taskfile.yml
Due: none

Fixed likely lint problem in example server project
  apps/example/tsconfig.json
Due: none

Revert "Fixed likely lint problem in example server project"
  apps/example/tsconfig.json
Due: none

Disabled lint in CI workflow temporarily (not critical)
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

Small README readability change
  README.md
Due: none

Added support for Astro (using Astro 3 endpoint names but it also works with Astro 2 if variables are renamed)
  .changeset/slimy-rabbits-care.md
  libs/plugins/build.config.js
  libs/plugins/package.json
  libs/plugins/src/server/astro.ts
  pnpm-lock.yaml
Due: build:plugins, build:setup

Added documentation of Astro plugin, updated plugin docs for other fullstack frameworks
  apps/documentation/src/pages/docs/plugins/server.mdx
Due: none

Changelog is now included in packages (easier to reference)
  libs/plugins/package.json
  libs/rpc/package.json
  libs/tooling/package.json
Due: build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, build:setup

Now referencing Astro 3.0 in plugin
  libs/plugins/package.json
Due: build:plugins, build:setup

Ran install after changing Astro from rc -> stable
  pnpm-lock.yaml
Due: none

File uploads now work in Astro
  libs/plugins/src/server/astro.ts
Due: build:setup

Clarified licenses for display on Github, including simplification of licenses throughout project
  LICENSE-ASSETS.md
  LICENSE-CODE.txt
  LICENSE-DOCS.md
  LICENSE.md
  README.md
  apps/example/LICENSE.md
  apps/example/package.json
  libs/example/LICENSE.md
  libs/example/LICENSE.txt
  libs/example/package.json
  libs/example/src/dynamic.ts
  libs/example/src/index.test.ts
  libs/example/src/index.ts
  libs/example/src/submodule.ts
  libs/example/src/things.ts
Due: lib.example, build:example, build:setup

Renamed code license file for display on Github
  LICENSE.txt
  README.md
Due: none

Added theme colors to badges, added license badge
  README.md
Due: none

Separated blob handling into prepareCall and prepareSend steps
  Taskfile.yml
  libs/example/src/index.ts
  libs/plugins/src/server/astro.ts
  libs/plugins/src/server/express.ts
  libs/plugins/src/server/fastify.ts
  libs/plugins/src/server/h3.ts
  libs/plugins/src/server/hono.ts
  libs/plugins/src/server/nextjs.ts
  libs/rpc/src/interfaces.ts
  libs/rpc/src/server.test.ts
  libs/rpc/src/server.ts
  libs/rpc/src/testing.ts
  libs/rpc/src/validate.ts
Due: build:setup

Files are now returned when using Fastify
  apps/example/package.json
  apps/example/src/index.ts
  libs/plugins/src/server/fastify.test.ts
  libs/plugins/src/server/fastify.ts
  pnpm-lock.yaml
Due: build:setup

File downloads now work with Fastify plugin over GET/POST
  README.md
  apps/example/src/index.ts
  libs/plugins/src/server/fastify.ts
  libs/rpc/src/index.ts
  libs/rpc/src/interfaces.ts
  libs/rpc/src/server.ts
Due: build:setup

Fastify plugin now has tests for upload/download of files
  libs/plugins/src/server/fastify.test.ts
  libs/plugins/src/server/fastify.ts
Due: build:setup

Renamed formDataObject option to formDataHandler to better match naming of Prim RPC options
  libs/plugins/src/server/fastify.test.ts
  libs/plugins/src/server/fastify.ts
Due: build:setup

Client can now support binary result, browser fetch and testing plugins updated to support new features
  .changeset/flat-cycles-remember.md
  .changeset/silent-seals-sneeze.md
  .changeset/ten-carrots-give.md
  libs/plugins/src/client/axios.ts
  libs/plugins/src/client/browser-fetch.test.ts
  libs/plugins/src/client/browser-fetch.ts
  libs/plugins/src/ipc/web-worker.ts
  libs/plugins/src/server/astro.ts
  libs/plugins/src/server/h3.ts
  libs/plugins/src/server/hono.ts
  libs/plugins/src/server/nextjs.ts
  libs/rpc/src/client.test.ts
  libs/rpc/src/client.ts
  libs/rpc/src/interfaces.ts
  libs/rpc/src/options.ts
  libs/rpc/src/server.ts
  libs/rpc/src/testing.ts
  libs/rpc/src/validate.ts
Due: build:setup
