Repository doseofted/prim-rpc: changes, and which Woodpecker steps are due for each by the changed paths.
All: lib.example, build:example, build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, lib.ui, build:ui, build:setup

.woodpecker/.lib.example.yml:

pipeline:
  build:example:
    image: node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install # --filter=./libs/example
      - pnpm task dev:build -- --filter=./libs/example
      - pnpm task dev:test -- --filter=./libs/example
    when:
      event: [push]
      branch:
        - develop
        - feature/*

when:
  path: "libs/example/*"

.woodpecker/.lib.plugins.yml:

pipeline:
  build:plugins:
    image: node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install # --filter=./libs/plugins
      - pnpm task dev:build -- --filter=./libs/plugins
      - pnpm task dev:test -- --filter=./libs/plugins
    when:
      event: [push]
      branch:
        - develop
        - feature/*
      path: "libs/plugins/*"

.woodpecker/.lib.rpc.yml:

pipeline:
  build:rpc:
    image: node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install # --filter=./libs/rpc
      - pnpm task dev:build -- --filter=./libs/rpc
      - pnpm task dev:test -- --filter=./libs/rpc
    when:
      event: [push]
      branch:
        - develop
        - feature/*

when:
  path: "libs/rpc/*"

.woodpecker/.lib.tooling.yml:

pipeline:
  build:tooling:
    image: node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install # --filter=./libs/tooling
      - pnpm task dev:build -- --filter=./libs/tooling
      - pnpm task dev:test -- --filter=./libs/tooling
    when:
      event: [push]
      branch:
        - develop
        - feature/*

when:
  path: "libs/tooling/*"

.woodpecker/.lib.ui.yml:

pipeline:
  build:ui:
    image: node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install # --filter=./libs/ui
      - pnpm task dev:build -- --filter=./libs/ui
      - pnpm task dev:test -- --filter=./libs/ui
    when:
      event: [push]
      branch:
        - develop
        - feature/*

when:
  path: "libs/ui/*"

.woodpecker/.libs.yml:

pipeline:
  build:setup:
    image: &image node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install
    when: &when
      event:
        - push
      branch:
        - develop
        - feature/*
      path:
        - "libs/**"

  build:example:
    image: *image
    group: build
    commands:
      - pnpm task dev:build -- --filter=./libs/example
      - pnpm task dev:test -- --filter=./libs/example
    when:
      <<: *when
      path: "libs/example/*"

  build:rpc:
    image: *image
    group: build
    commands:
      - pnpm task dev:build -- --filter=./libs/rpc
      - pnpm task dev:test -- --filter=./libs/rpc
    when:
      <<: *when
      path: "libs/rpc/*"

  build:plugins:
    image: *image
    group: build
    commands:
      - pnpm task dev:build -- --filter=./libs/plugins
      - pnpm task dev:test -- --filter=./libs/plugins
    when:
      <<: *when
      path: "libs/plugins/*"

  build:tooling:
    image: *image
    group: build
    commands:
      - pnpm task dev:build -- --filter=./libs/tooling
      - pnpm task dev:test -- --filter=./libs/tooling
    when:
      <<: *when
      path: "libs/tooling/*"

  build:ui:
    image: *image
    group: build
    commands:
      - pnpm task dev:build -- --filter=./libs/ui
      - pnpm task dev:test -- --filter=./libs/ui
    when:
      <<: *when
      path: "libs/ui/*"

Reset changesets (prior changes were just tests)
  .changeset/pre.json
  .changeset/sixty-buses-bathe.md
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/frontend/CHANGELOG.md
  apps/frontend/package.json
  libs/rpc/CHANGELOG.md
  libs/rpc/package.json
Due: lib.rpc, build:rpc, build:setup

Added to plugin/handler creation docs
  apps/frontend/src/pages/docs/plugins/create.mdx
  libs/plugins/src/server/template/method.ts
Due: build:setup

Added skeletons of callback handler and plugin to docs
  apps/frontend/src/pages/docs/plugins/create.mdx
Due: none

Added callback plugin/handler docs
  apps/frontend/src/pages/docs/plugins/create.mdx
  apps/frontend/src/pages/docs/plugins/ipc.mdx
Due: none

Added shellscript to shiki grammar list (in case commands are shown on homepage later)
  apps/frontend/public/shiki/NOTE.md
  apps/frontend/public/shiki/languages/shellscript.tmLanguage.json
Due: none

Expanded on examples page and added command to quickly clone individual projects without cloning entire monorepo
  apps/frontend/src/components/LayoutDocs.tsx
  apps/frontend/src/pages/docs/examples.mdx
  apps/frontend/src/pages/docs/setup.mdx
Due: none

Added examples of usage notes in limitations section of documentation
  apps/frontend/src/pages/docs/limitations.mdx
Due: none

Added to limitations section
  apps/frontend/src/pages/docs/limitations.mdx
Due: none

Change to npmrc file created during CI to use scoped registry
  .woodpecker/.npm.yml
Due: none

Testing a prelease of the prerelease on Github Packages
  .changeset/pre.json
  .changeset/twelve-plants-complain.md
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/frontend/CHANGELOG.md
  apps/frontend/package.json
  libs/example/CHANGELOG.md
  libs/example/package.json
  libs/plugins/CHANGELOG.md
  libs/plugins/package.json
  libs/rpc/CHANGELOG.md
  libs/rpc/package.json
  libs/tooling/CHANGELOG.md
  libs/tooling/package.json
  libs/ui/CHANGELOG.md
  libs/ui/package.json
Due: lib.example, build:example, build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, lib.ui, build:ui, build:setup

Removed changeset:status from CI step (doesn't seem to apply in this step, especially in prereleases)
  .woodpecker/.npm.yml
Due: none

Removed .private from package.json of modules that should be published, removed step in CI for publish (removal of non-existent .npmrc)
  .woodpecker/.npm.yml
  libs/plugins/package.json
  libs/rpc/package.json
  libs/tooling/package.json
Due: build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, build:setup

Additional commit to try clean rebuild of project with Woodpecker
  .changeset/README.md
Due: none

Tokens are now escaped in Woodpecker CI
  .woodpecker/.npm.yml
Due: none

Publish with GitHub Packages worked (but need to add README for each package referencing docs), now swapped with NPM publish config
  .woodpecker/.npm.yml
Due: none

Added very short READMEs to packages themselves (linking back to documentation website)
  libs/plugins/README.md
  libs/rpc/README.md
  libs/rpc/README.png
  libs/rpc/package.json
  libs/tooling/README.md
Due: build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, build:setup

Added new comparison to data loaders, other small changes to docs
  README.md
  apps/frontend/src/pages/docs/comparisons.mdx
  apps/frontend/src/pages/docs/examples.mdx
  apps/frontend/src/pages/docs/index.mdx
Due: none

Added notices to projects intended for initial prerelease
  libs/plugins/NOTICE.md
  libs/rpc/NOTICE.md
  libs/tooling/NOTICE.md
Due: build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, build:setup

Fixed example in limiations section of docs (to use both server/client)
  apps/frontend/src/pages/docs/limitations.mdx
Due: none

Cleaned up docs introduction
  apps/frontend/src/pages/docs/index.mdx
Due: none

Added to data loaders comparison
  apps/frontend/src/pages/docs/comparisons.mdx
Due: none

Changed phrasing of prerelease notice
  README.md
  SECURITY.md
  apps/frontend/src/pages/docs/setup.mdx
Due: none

Now using svh units instead of vh for display on mobile, small prerelease banner change to fit in one line in GitHub README (desktop devices)
  README.md
  SECURITY.md
  apps/frontend/src/components/LayoutDocs.tsx
  apps/frontend/src/components/Navigation.tsx
  apps/frontend/src/pages/_app.tsx
  apps/frontend/src/pages/cms.tsx
  apps/frontend/src/pages/index.tsx
  apps/frontend/src/pages/tests/callbacks.tsx
  apps/frontend/src/pages/tests/form.tsx
  apps/frontend/src/pages/tests/lighting.tsx
  apps/frontend/src/pages/tests/lights.tsx
Due: none

Added forgotten svh unit change
  apps/frontend/src/components/Layout.tsx
Due: none

RPC messages now use "args" instead of "params" to reflect usage of the parameters (also, shorter)
  apps/frontend/src/pages/docs/limitations.mdx
  apps/frontend/src/pages/docs/reference/structure.mdx
  libs/example/src/index.ts
  libs/plugins/src/server/express.test.ts
  libs/plugins/src/server/fastify.test.ts
  libs/plugins/src/server/ws.test.ts
  libs/rpc/src/client.test.ts
  libs/rpc/src/client.ts
  libs/rpc/src/interfaces.ts
  libs/rpc/src/server.test.ts
  libs/rpc/src/server.ts
Due: build:setup

Added (and disabled) possible support for version number in RPC (not sure if it's a good idea to place version number of RPC stucture in RPC itself)
  apps/frontend/src/pages/docs/comparisons.mdx
  libs/rpc/src/client.ts
  libs/rpc/src/interfaces.ts
  libs/rpc/src/options.ts
  libs/rpc/src/server.ts
Due: build:setup

Moved documentation text to root of project for easy editing
  LICENSE.md
  Monorepo.base.Dockerfile
  README.md
  apps/frontend/public/docs
  apps/frontend/src/pages/docs
  compose.dev.yml
  docs/LICENSE.md
  docs/README.md
  docs/assets/.gitkeep
  docs/assets/hello.txt
  docs/text/comparisons.mdx
  docs/text/examples.mdx
  docs/text/index.mdx
  docs/text/limitations.mdx
  docs/text/plugins/client.mdx
  docs/text/plugins/create.mdx
  docs/text/plugins/ipc.mdx
  docs/text/plugins/server.mdx
  docs/text/reference/configuration.mdx
  docs/text/reference/structure.mdx
  docs/text/reference/tooling.mdx
  docs/text/setup.mdx
  docs/text/usage.mdx
  prim-rpc.code-workspace
Due: none

Revert "Testing a prelease of the prerelease on Github Packages"
  .changeset/pre.json
  .changeset/twelve-plants-complain.md
  apps/backend/CHANGELOG.md
  apps/backend/package.json
  apps/frontend/CHANGELOG.md
  apps/frontend/package.json
  libs/example/CHANGELOG.md
  libs/example/package.json
  libs/plugins/CHANGELOG.md
  libs/plugins/package.json
  libs/rpc/CHANGELOG.md
  libs/rpc/package.json
  libs/tooling/CHANGELOG.md
  libs/tooling/package.json
  libs/ui/CHANGELOG.md
  libs/ui/package.json
Due: lib.example, build:example, build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, lib.ui, build:ui, build:setup

Added a list of features to the homepage
  apps/frontend/src/pages/index.tsx
  docs/text/index.mdx
Due: none

Added new footer to website
  apps/frontend/public/prim-doseofted-attribution.png
  apps/frontend/src/components/Layout.tsx
  apps/frontend/src/components/LayoutDocs.tsx
  apps/frontend/src/pages/index.tsx
Due: none

Added anonymous tracking script (and notice)
  apps/frontend/src/components/Layout.tsx
  apps/frontend/src/pages/_app.tsx
Due: none

Fixed hydration issue (paragraph inside paragraph)
  apps/frontend/src/components/Layout.tsx
Due: none

Added potential attribution in navigation (doesn't fit into nav design though, might be too much noise)
  apps/frontend/public/prim-nav-doseofted-attribution.png
  apps/frontend/src/components/Navigation.tsx
Due: none

Workaround for potential issue with symbolic links in production image of website
  apps/frontend/Dockerfile
Due: none

Styling and mobile improvements to docs website
  apps/frontend/src/components/Headers.tsx
  apps/frontend/src/components/Layout.tsx
  apps/frontend/src/pages/_app.tsx
  apps/frontend/src/pages/index.tsx
  apps/frontend/src/styles/globals.css
  docs/text/examples.mdx
  docs/text/index.mdx
Due: none

Added notice about integrations, added docs for testing plugins
  apps/frontend/src/pages/index.tsx
  docs/text/plugins/create.mdx
  docs/text/plugins/ipc.mdx
  docs/text/setup.mdx
Due: none

Added new example to homepage
  apps/frontend/src/components/CodeHighlighted.tsx
  apps/frontend/src/components/Layout.tsx
  apps/frontend/src/pages/index.tsx
  docs/text/plugins/create.mdx
Due: none

Cleaned up example on homepage
  apps/frontend/src/pages/index.tsx
Due: none

Fixed small styling issues on homepage
  apps/frontend/src/pages/index.tsx
Due: none

Added back attribution in navigation
  apps/frontend/public/prim-nav-doseofted-attribution.png
  apps/frontend/src/components/Navigation.tsx
Due: none
