Repository doseofted/prim-rpc: changes, and which Woodpecker steps are due for each by the changed paths.
All: lib.example, build:example, build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, lib.ui, build:ui, build:setup

lib.example:
  steps:
    build:example:
      image: node:19.4-bullseye
      commands:
      - corepack enable
      - pnpm install
      - pnpm task dev:build -- --filter=./libs/example
      - pnpm task dev:test -- --filter=./libs/example
      when:
        event:
        - push
        branch:
        - develop
        - feature/*

build:example:
  image: node:19.4-bullseye
  commands:
  - corepack enable
  - pnpm install
  - pnpm task dev:build -- --filter=./libs/example
  - pnpm task dev:test -- --filter=./libs/example

build:plugins:
  image: node:19.4-bullseye
  commands:
  - corepack enable
  - pnpm install
  - pnpm task dev:build -- --filter=./libs/plugins
  - pnpm task dev:test -- --filter=./libs/plugins

lib.rpc:
  steps:
    build:rpc:
      image: node:19.4-bullseye
      commands:
      - corepack enable
      - pnpm install
      - pnpm task dev:build -- --filter=./libs/rpc
      - pnpm task dev:test -- --filter=./libs/rpc
      when:
        event:
        - push
        branch:
        - develop
        - feature/*

build:rpc:
  image: node:19.4-bullseye
  commands:
  - corepack enable
  - pnpm install
  - pnpm task dev:build -- --filter=./libs/rpc
  - pnpm task dev:test -- --filter=./libs/rpc

lib.tooling:
  steps:
    build:tooling:
      image: node:19.4-bullseye
      commands:
      - corepack enable
      - pnpm install
      - pnpm task dev:build -- --filter=./libs/tooling
      - pnpm task dev:test -- --filter=./libs/tooling
      when:
        event:
        - push
        branch:
        - develop
        - feature/*

build:tooling:
  image: node:19.4-bullseye
  commands:
  - corepack enable
  - pnpm install
  - pnpm task dev:build -- --filter=./libs/tooling
  - pnpm task dev:test -- --filter=./libs/tooling

lib.ui:
  steps:
    build:ui:
      image: node:19.4-bullseye
      commands:
      - corepack enable
      - pnpm install
      - pnpm task dev:build -- --filter=./libs/ui
      - pnpm task dev:test -- --filter=./libs/ui
      when:
        event:
        - push
        branch:
        - develop
        - feature/*

build:ui:
  image: node:19.4-bullseye
  commands:
  - corepack enable
  - pnpm install
  - pnpm task dev:build -- --filter=./libs/ui
  - pnpm task dev:test -- --filter=./libs/ui

build:setup:
  image: node:19.4-bullseye
  commands:
  - corepack enable
  - pnpm install

Fixed type issue in testing.createPrimTestingSuite function
  .changeset/clever-berries-begin.md
  libs/rpc/src/testing.ts
Due: build:setup

Client can now be used directly with form's onsubmit event
  .changeset/dirty-olives-enjoy.md
  libs/rpc/src/blobs.ts
Due: build:setup

Made small edits to images used across repository
  .github/docs-screenshot.png
  apps/documentation/public/social.png
  apps/documentation/src/pages/tests/server-screenshot.astro
  apps/documentation/src/utils/lights/LightElements.ts
  libs/rpc/README.png
Due: lib.rpc, build:rpc, build:setup

Blob extraction logic is now more generic to support extraction of promises
  libs/rpc/src/blobs.ts
  libs/rpc/src/client.ts
  libs/rpc/src/extract.ts
  libs/rpc/src/interfaces.ts
  libs/rpc/src/promises.ts
Due: build:setup

Type definitions on client are easier to use when defined functions make use of server context
  .changeset/neat-houses-tickle.md
  libs/rpc/src/interfaces.ts
Due: build:setup

Improved type support for passing form events to function
  .changeset/good-points-bathe.md
  libs/rpc/src/interfaces.ts
Due: build:setup

Fix for server fetch contextTransform types (always given, doesn't need to be optional)
  libs/plugins/src/server/server-fetch.ts
Due: build:setup

Upgraded website dependencies, small README update
  README.md
  apps/documentation/package.json
  libs/plugins/package.json
  libs/rpc/package.json
  pnpm-lock.yaml
Due: build:plugins, lib.rpc, build:rpc, build:setup

Upgraded remaining dependencies
  apps/example/package.json
  libs/example/package.json
  libs/plugins/package.json
  libs/rpc/package.json
  libs/tooling/package.json
  package.json
  pnpm-lock.yaml
Due: lib.example, build:example, build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, build:setup

Regenerated lockfile, using latest version of pnpm
  package.json
  pnpm-lock.yaml
Due: none

Now using Node 20 (but target is still Node 18 while version is in Maintenance mode)
  .devcontainer.json
  .nvmrc
  README.md
  libs/example/package.json
  libs/plugins/package.json
  libs/rpc/package.json
  pnpm-lock.yaml
Due: lib.example, build:example, build:plugins, lib.rpc, build:rpc, build:setup

Added changeset to release new version of packages with dependency upgrades
  .changeset/fresh-books-fry.md
Due: none

Fix link in README
  README.md
Due: none

Formatting fix for README
  CONTRIBUTING.md
  README.md
Due: none

Experimenting with function overloads on transformed function type definitions
  libs/rpc/src/interfaces.ts
Due: build:setup

Moved extraction logic into new folder, moved constants into its own file
  libs/rpc/src/client.ts
  libs/rpc/src/constants.ts
  libs/rpc/src/extract/base.ts
  libs/rpc/src/extract/blobs.ts
  libs/rpc/src/extract/promises.ts
  libs/rpc/src/server.ts
Due: build:setup

Renamed blob extraction function names
  libs/rpc/src/client.ts
  libs/rpc/src/extract/blobs.ts
  libs/rpc/src/interfaces.ts
  libs/rpc/src/server.ts
Due: build:setup

Added handling of multiple promises in result (broken right now, WIP)
  libs/example/src/index.ts
  libs/rpc/src/client.test.ts
  libs/rpc/src/client.ts
  libs/rpc/src/extract/promises.ts
  libs/rpc/src/server.ts
Due: build:setup

Upgrades to dependencies (changes need to be made for dependencies not upgraded)
  apps/documentation/package.json
  apps/example/package.json
  libs/example/package.json
  libs/plugins/package.json
  libs/rpc/package.json
  libs/tooling/package.json
  package.json
  pnpm-lock.yaml
Due: lib.example, build:example, build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, build:setup

Applied updates for rehype-pretty-code to keep docs website working
  apps/documentation/astro.config.mjs
  apps/documentation/package.json
  apps/documentation/src/layouts/Default.css
  libs/plugins/package.json
  pnpm-lock.yaml
Due: build:plugins, build:setup

Upgrades to Astro and DaisyUI, fixes for styling due to upgrades, also styling improvements including custom nested scrollbars and style adjustments
  apps/documentation/package.json
  apps/documentation/src/components/Code/CodeFile.astro
  apps/documentation/src/components/Code/CodeTabs.react.tsx
  apps/documentation/src/components/Documentation/NavigationDocs.astro
  apps/documentation/src/components/Markdown/Table.astro
  apps/documentation/src/components/Prim.astro
  apps/documentation/src/components/ReportIssue.astro
  apps/documentation/src/layouts/Default.astro
  apps/documentation/src/layouts/Default.css
  apps/documentation/src/layouts/Documentation.astro
  apps/documentation/tailwind.config.cjs
  libs/plugins/package.json
  pnpm-lock.yaml
Due: build:plugins, build:setup

Applied remaining upgrades
  apps/documentation/package.json
  libs/plugins/package.json
  pnpm-lock.yaml
Due: build:plugins, build:setup

Applied new Astro upgrade fixing dialog close issue
  apps/documentation/package.json
  libs/plugins/package.json
  package.json
  pnpm-lock.yaml
Due: build:plugins, build:setup

Added potential plugin for Remix (modified from server-side Fetch plugin)
  libs/plugins/package.json
  libs/plugins/src/server/remix.ts
  pnpm-lock.yaml
  prim-rpc.code-workspace
Due: build:plugins, build:setup

Removed anonymous analytics from documentation website
  apps/documentation/src/components/Footer.astro
  apps/documentation/src/layouts/Default.astro
  apps/documentation/src/layouts/Documentation.astro
Due: none

Updated documentation dependencies, fixed new styling issues (tab component still needs to be addressed)
  apps/documentation/package.json
  apps/documentation/src/components/Documentation/VersionSelection.astro
  apps/documentation/src/components/ReportIssue.astro
  apps/documentation/src/content/docs/reference/api.mdx
  apps/documentation/src/content/docs/reference/config.mdx
  apps/documentation/src/layouts/Default.css
  apps/documentation/src/pages/docs/reference/plugins/[...plugin].astro
  apps/documentation/src/pages/index.astro
  libs/plugins/package.json
  libs/rpc/package.json
  pnpm-lock.yaml
  prim-rpc.code-workspace
Due: build:plugins, lib.rpc, build:rpc, build:setup

Downgraded Ark UI (tabs indicator is wrong size in new version)
  apps/documentation/package.json
  pnpm-lock.yaml
Due: none

Upgraded Node version used in project to 21 (minimum version support is still 20 LTS), upgraded pnpm
  .nvmrc
  package.json
Due: none

Upgraded monorepo-wide dependencies
  libs/rpc/package.json
  libs/tooling/package.json
  package.json
  pnpm-lock.yaml
Due: lib.rpc, build:rpc, lib.tooling, build:tooling, build:setup

Upgrades to remaining dependencies
  apps/example/package.json
  libs/example/package.json
  libs/plugins/package.json
  libs/rpc/package.json
  libs/tooling/package.json
  package.json
  pnpm-lock.yaml
Due: lib.example, build:example, build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, build:setup

Removed CMS placeholder page
  apps/documentation/src/components/Navigation.astro
  apps/documentation/src/pages/cms.astro
Due: none

Updates to README
  README.md
Due: none

Made small change to Remix plugin types (still based on fetch)
  libs/plugins/src/server/remix.ts
Due: build:setup

Upgraded project dependencies
  apps/documentation/package.json
  apps/documentation/src/components/Code/CodeTabs.react.tsx
  libs/plugins/package.json
  libs/plugins/src/server/hono.ts
  libs/rpc/package.json
  package.json
  pnpm-lock.yaml
Due: build:plugins, lib.rpc, build:rpc, build:setup

Added documentation for Remix plugin
  apps/documentation/src/content/plugins/server/remix.mdx
  libs/plugins/src/server/remix.ts
Due: build:setup

Added changeset to reflect new Remix plugin, added exports for Remix plugin, regenerated lockfile
  .changeset/hot-mice-remember.md
  libs/plugins/build.config.js
  libs/plugins/package.json
  pnpm-lock.yaml
Due: build:plugins, build:setup

Added changeset for Prim RPC package to reflect updates to dependencies
  .changeset/curvy-deers-burn.md
Due: none

Patched proxy-deep package to utilize types given in package
  package.json
  patches/proxy-deep@4.0.0.patch
  pnpm-lock.yaml
Due: none

Turned off promises support (WIP) with feature flag toggle, to be supported in the future
  libs/rpc/src/extract/promises.ts
  libs/rpc/src/flags.ts
  patches/proxy-deep@4.0.0.patch
  pnpm-lock.yaml
Due: build:setup

Fixed unresolved promises handling on the client (only for callback handler/plugin)
  libs/rpc/src/client.test.ts
  libs/rpc/src/client.ts
  libs/rpc/src/extract/promises.ts
  libs/rpc/src/flags.ts
  libs/rpc/src/server.ts
  libs/rpc/src/testing.ts
Due: build:setup

Path conditions:
  lib.example: any of: libs/example/*
  build:example: any of: libs/example/*
  build:plugins: any of: libs/plugins/*
  lib.rpc: any of: libs/rpc/*
  build:rpc: any of: libs/rpc/*
  lib.tooling: any of: libs/tooling/*
  build:tooling: any of: libs/tooling/*
  lib.ui: any of: libs/ui/*
  build:ui: any of: libs/ui/*
  build:setup: any of: libs/**
