Repository doseofted/prim-rpc: changes, and which Woodpecker steps are due for each by the changed paths.
All: lib.example, build:example, build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, lib.ui, build:ui, build:setup

.woodpecker/.lib.example.yml:

pipeline:
  build:example:
    image: node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install # --filter=./libs/example
      - pnpm task dev:build -- --filter=./libs/example
      - pnpm task dev:test -- --filter=./libs/example
    when:
      event: [push]
      branch:
        - develop
        - feature/*

when:
  path: "libs/example/*"

.woodpecker/.lib.plugins.yml:

pipeline:
  build:plugins:
    image: node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install # --filter=./libs/plugins
      - pnpm task dev:build -- --filter=./libs/plugins
      - pnpm task dev:test -- --filter=./libs/plugins
    when:
      event: [push]
      branch:
        - develop
        - feature/*
      path: "libs/plugins/*"

.woodpecker/.lib.rpc.yml:

pipeline:
  build:rpc:
    image: node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install # --filter=./libs/rpc
      - pnpm task dev:build -- --filter=./libs/rpc
      - pnpm task dev:test -- --filter=./libs/rpc
    when:
      event: [push]
      branch:
        - develop
        - feature/*

when:
  path: "libs/rpc/*"

.woodpecker/.lib.tooling.yml:

pipeline:
  build:tooling:
    image: node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install # --filter=./libs/tooling
      - pnpm task dev:build -- --filter=./libs/tooling
      - pnpm task dev:test -- --filter=./libs/tooling
    when:
      event: [push]
      branch:
        - develop
        - feature/*

when:
  path: "libs/tooling/*"

.woodpecker/.lib.ui.yml:

pipeline:
  build:ui:
    image: node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install # --filter=./libs/ui
      - pnpm task dev:build -- --filter=./libs/ui
      - pnpm task dev:test -- --filter=./libs/ui
    when:
      event: [push]
      branch:
        - develop
        - feature/*

when:
  path: "libs/ui/*"

.woodpecker/.libs.yml:

pipeline:
  build:setup:
    image: &image node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install
    when: &when
      event:
        - push
      branch:
        - develop
        - feature/*
      path:
        - "libs/**"

  build:example:
    image: *image
    group: build
    commands:
      - pnpm task dev:build -- --filter=./libs/example
      - pnpm task dev:test -- --filter=./libs/example
    when:
      <<: *when
      path: "libs/example/*"

  build:rpc:
    image: *image
    group: build
    commands:
      - pnpm task dev:build -- --filter=./libs/rpc
      - pnpm task dev:test -- --filter=./libs/rpc
    when:
      <<: *when
      path: "libs/rpc/*"

  build:plugins:
    image: *image
    group: build
    commands:
      - pnpm task dev:build -- --filter=./libs/plugins
      - pnpm task dev:test -- --filter=./libs/plugins
    when:
      <<: *when
      path: "libs/plugins/*"

  build:tooling:
    image: *image
    group: build
    commands:
      - pnpm task dev:build -- --filter=./libs/tooling
      - pnpm task dev:test -- --filter=./libs/tooling
    when:
      <<: *when
      path: "libs/tooling/*"

  build:ui:
    image: *image
    group: build
    commands:
      - pnpm task dev:build -- --filter=./libs/ui
      - pnpm task dev:test -- --filter=./libs/ui
    when:
      <<: *when
      path: "libs/ui/*"

Upgraded to latest pnpm version
  package.json
  pnpm-lock.yaml
Due: none

Upgraded Astro and Vercel adapter (previous adapter version no longer supported, new version requires newer version of Astro)
  .devcontainer/devcontainer.json
  Taskfile.yml
  apps/documentation/astro.config.mjs
  apps/documentation/package.json
  apps/documentation/src/components/Documentation/VersionSelection.astro
  apps/documentation/src/pages/docs/[...slug].astro
  apps/documentation/src/pages/docs/reference/plugins/[...plugin].astro
  apps/documentation/src/pages/prim/[...prim].ts
  pnpm-lock.yaml
Due: none

Upgraded dependencies in plugins, updated peer dependency ranges
  libs/plugins/package.json
  libs/plugins/src/server/express.test.ts
  pnpm-lock.yaml
Due: build:plugins, build:setup

Fixes for Fastify plugin after upgrade
  libs/plugins/src/server/fastify.test.ts
  libs/plugins/src/server/fastify.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: build:setup

Applied additional upgrades and fixed type issues in plugins, additional changes after upgrades
  Taskfile.yml
  apps/documentation/package.json
  apps/documentation/src/components/Code/CodeTabs.react.tsx
  apps/documentation/src/utils/lenis.ts
  apps/documentation/tsconfig.json
  libs/plugins/src/server/astro.ts
  libs/plugins/src/server/express.ts
  libs/plugins/src/server/fastify.ts
  libs/plugins/src/server/h3.ts
  libs/plugins/src/server/hono.ts
  libs/plugins/src/server/nextjs.ts
  libs/plugins/src/server/remix.ts
  libs/plugins/src/server/server-fetch.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  prim-rpc.code-workspace
Due: build:setup

Applied formatting/linting fixes to codebase
  .prettierignore
  .vscode/project.code-snippets
  Taskfile.yml
  apps/documentation/astro.config.mjs
  apps/documentation/src/components/Documentation/VersionSelection.astro
  apps/documentation/src/env.d.ts
  apps/documentation/src/pages/docs/[...slug].astro
  apps/documentation/src/pages/docs/reference/plugins/[...plugin].astro
  apps/documentation/src/pages/index.astro
  apps/documentation/src/utils/lenis.ts
  apps/documentation/src/utils/lights/LightElements.ts
  apps/documentation/tsconfig.json
  libs/rpc/CHANGELOG.md
  libs/rpc/src/client.ts
  libs/rpc/src/extract/blobs.ts
  libs/rpc/src/server.ts
  prim-rpc.code-workspace
Due: lib.rpc, build:rpc, build:setup

Added missing changesets
  .changeset/cool-planets-repeat.md
  .changeset/hot-baboons-enjoy.md
Due: none

Changed output of docs back to "static" mode (hybrid mode removed), fixed issue with shiki
  apps/documentation/astro.config.mjs
  apps/documentation/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Upgraded Turbo for deployment
  libs/plugins/package.json
  package.json
  pnpm-lock.yaml
  turbo.json
Due: build:plugins, build:setup

Small update to README regarding release date
  README.md
Due: none

Fixed changeset referencing package that no longer exists
  .changeset/afraid-starfishes-occur.md
Due: none

Removed additional references to package that no longer exists
  .changeset/mighty-horses-try.md
  .changeset/plenty-wombats-invent.md
  .changeset/pre.json
  .changeset/witty-carrots-float.md
Due: none

CallCatcher instances can now be transferred, now exposing logic from UnknownAsync to determine if promise/iterator
  libs/rpc/src/call-catcher.test.ts
  libs/rpc/src/call-catcher.ts
  libs/rpc/src/unknown-async.ts
Due: build:setup

UnknownAsync is now an instance of CallCatcher, merged CallCatcher methods for initializing with stack and replaying last item in stack
  libs/rpc/src/call-catcher.test.ts
  libs/rpc/src/call-catcher.ts
  libs/rpc/src/unknown-async.test.ts
  libs/rpc/src/unknown-async.ts
Due: build:setup

Created initial draft of RPC client that captures function calls and resolves async calls
  libs/rpc/src/client.test.ts
  libs/rpc/src/client.ts
  libs/rpc/src/module-type.ts
  libs/rpc/src/unknown-async.ts
Due: build:setup

Cleanup of RpcClient
  libs/rpc/src/client.test.ts
  libs/rpc/src/client.ts
Due: build:setup

RpcClient now extends from CallCatcher, may be reconsidered depending on future changes
  libs/rpc/src/client.test.ts
  libs/rpc/src/client.ts
Due: build:setup

Fixed build issues, upgraded project dependencies
  libs/rpc/src/call-catcher.ts
  libs/rpc/src/client.ts
  libs/rpc/src/unknown-async.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: build:setup

Renamed RpcClient to RpcGenerator to reflect more limited responsibilities
  biome.json
  libs/rpc/src/call-catcher.ts
  libs/rpc/src/client.ts
  libs/rpc/src/rpc-decoder.ts
  libs/rpc/src/rpc-generator.test.ts
  libs/rpc/src/rpc-generator.ts
  libs/rpc/src/unknown-async.test.ts
  libs/rpc/src/unknown-async.ts
Due: build:setup

Created EventExtractor to extract provided types out of a provided object
  biome.json
  libs/rpc/src/event-extractor/eventful-types.ts
  libs/rpc/src/event-extractor/eventful-value.ts
  libs/rpc/src/event-extractor/index.test.ts
  libs/rpc/src/event-extractor/index.ts
  libs/rpc/src/event-extractor/utilities.ts
  libs/rpc/src/rpc-generator.ts
  package.json
  pnpm-lock.yaml
Due: build:setup

Created utilities to reconstruct iterators and promises
  libs/rpc/package.json
  libs/rpc/src/event-extractor/eventful-types.test.ts
  libs/rpc/src/event-extractor/eventful-types.ts
  libs/rpc/src/event-extractor/eventful-value.test.ts
  libs/rpc/src/event-extractor/utilities.ts
  libs/rpc/src/index.test.ts
  libs/rpc/src/index.ts
  libs/rpc/src/reconstructed/iterator.test.ts
  libs/rpc/src/reconstructed/iterator.ts
  libs/rpc/src/reconstructed/promise.test.ts
  libs/rpc/src/reconstructed/promise.ts
  libs/rpc/src/unknown-async.ts
  libs/rpc/src/utils/is-iterable.test.ts
  libs/rpc/src/utils/is-iterable.ts
  pnpm-lock.yaml
Due: lib.rpc, build:rpc, build:setup

Changes to format of RpcGenerator handler
  libs/rpc/src/event-to-rpc.ts
  libs/rpc/src/rpc-generator.test.ts
  libs/rpc/src/rpc-generator.ts
Due: build:setup

Added RPC types, added RpcMethodDecoder to convert RPC to function call on a module, RpcMethodGenerator (previously RpcGenerator) now converts provided stack to RPC format
  libs/rpc/src/event-extractor/index.ts
  libs/rpc/src/module-type.ts
  libs/rpc/src/rpc-decoder.ts
  libs/rpc/src/rpc-event-decoder.ts
  libs/rpc/src/rpc-event-generator.ts
  libs/rpc/src/rpc-generator.test.ts
  libs/rpc/src/rpc-method-decoder.test.ts
  libs/rpc/src/rpc-method-decoder.ts
  libs/rpc/src/rpc-method-generator.test.ts
  libs/rpc/src/rpc-method-generator.ts
  libs/rpc/src/types/module-async.ts
  libs/rpc/src/types/rpc-messages.ts
Due: build:setup

Cleanup of error messages in RpcMethodDecoder
  libs/rpc/src/rpc-method-decoder.test.ts
  libs/rpc/src/rpc-method-decoder.ts
Due: build:setup

Fix for RPC schema of chained methods in RpcMethodDecoder, renamed RpcMethodGenerator to RpcMethodEncoder
  libs/rpc/src/rpc-event-generator.ts
  libs/rpc/src/rpc/event-decoder.ts
  libs/rpc/src/rpc/event-encoder.ts
  libs/rpc/src/rpc/method-decoder.test.ts
  libs/rpc/src/rpc/method-decoder.ts
  libs/rpc/src/rpc/method-encoder.test.ts
  libs/rpc/src/rpc/method-encoder.ts
  libs/rpc/src/rpc/types-message.ts
Due: build:setup

Work on RpcEventEncoder, changes to RPC structure
  libs/rpc/src/event-extractor/eventful-value.ts
  libs/rpc/src/event-extractor/index.ts
  libs/rpc/src/index.test.ts
  libs/rpc/src/index.ts
  libs/rpc/src/rpc/event-encoder.ts
  libs/rpc/src/rpc/method-encoder.test.ts
  libs/rpc/src/rpc/method-encoder.ts
  libs/rpc/src/rpc/types-message.ts
Due: build:setup

Simplified EventExtractor, renamed RPC-specific utilities to better reflect functionalities
  libs/rpc/src/event-extractor/eventful-types.test.ts
  libs/rpc/src/event-extractor/eventful-types.ts
  libs/rpc/src/event-extractor/eventful-value.test.ts
  libs/rpc/src/event-extractor/eventful-value.ts
  libs/rpc/src/event-extractor/id-generator.test.ts
  libs/rpc/src/event-extractor/id-generator.ts
  libs/rpc/src/event-extractor/index.test.ts
  libs/rpc/src/event-extractor/index.ts
  libs/rpc/src/rpc-generator.test.ts
  libs/rpc/src/rpc-generator.ts
  libs/rpc/src/rpc-interpreter.test.ts
  libs/rpc/src/rpc-interpreter.ts
  libs/rpc/src/rpc/event-encoder.ts
  libs/rpc/src/types/rpc-structure.ts
Due: build:setup

Creating new RPC event handler class (in-progress), added method to call chain of RPCs to RpcInterpreter
  libs/rpc/src/event-extractor/index.ts
  libs/rpc/src/index.test.ts
  libs/rpc/src/index.ts
  libs/rpc/src/rpc-event-handler-attempt-1.ts
  libs/rpc/src/rpc-event-handler-attempt-2.ts
  libs/rpc/src/rpc-event-handler.test.ts
  libs/rpc/src/rpc-interpreter.test.ts
  libs/rpc/src/rpc-interpreter.ts
  libs/rpc/src/types/rpc-structure.ts
Due: build:setup

Created new attempt at an RPC event handler, added new option to EventExtractor (to be implemented)
  libs/rpc/src/event-extractor/index.test.ts
  libs/rpc/src/event-extractor/index.ts
  libs/rpc/src/event-handler/promise.ts
  libs/rpc/src/rpc-event-handler-attempt-2.ts
  libs/rpc/src/rpc-event-handler-attempt-3.ts
  libs/rpc/src/rpc-event-handler.test.ts
  libs/rpc/tsconfig.json
Due: lib.rpc, build:rpc, build:setup

Removed old attempts at creating an RPC event handler (now referred to as RpcType)
  libs/rpc/src/event-extractor/index.test.ts
  libs/rpc/src/index.test.ts
  libs/rpc/src/index.ts
  libs/rpc/src/rpc-event-handler-attempt-1.ts
  libs/rpc/src/rpc-event-handler-attempt-2.ts
  libs/rpc/src/rpc-event-handler.test.ts
  libs/rpc/src/rpc-type/index.test.ts
  libs/rpc/src/rpc-type/index.ts
  libs/rpc/src/rpc-type/promise.ts
Due: build:setup

Enabled strict null checks in tsconfig, deleted old implementation of RpcEventEncoder
  libs/rpc/src/call-catcher.test.ts
  libs/rpc/src/call-catcher.ts
  libs/rpc/src/event-extractor/index.ts
  libs/rpc/src/index.ts
  libs/rpc/src/rpc-generator.test.ts
  libs/rpc/src/rpc-generator.ts
  libs/rpc/src/rpc-interpreter.ts
  libs/rpc/src/rpc/event-encoder.ts
  libs/rpc/src/unknown-async.test.ts
  libs/rpc/src/unknown-async.ts
  libs/rpc/tsconfig.json
Due: lib.rpc, build:rpc, build:setup

Upgraded dependencies, deleted placeholder files
  libs/rpc/package.json
  libs/rpc/src/index.ts
  libs/rpc/src/rpc-interpreter.ts
  libs/rpc/src/rpc-type/index.ts
  libs/rpc/src/rpc-type/promise.ts
  libs/rpc/src/rpc/event-decoder.ts
  libs/rpc/src/rpc/event-encoder.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lib.rpc, build:rpc, build:setup

References within an extracted object are now handled in EventExtractor
  libs/rpc/src/event-extractor/index.test.ts
  libs/rpc/src/event-extractor/index.ts
Due: build:setup

Regenerated lockfile
  pnpm-lock.yaml
Due: none

EventExtractor can now handle circular references
  libs/rpc/src/event-extractor/index.test.ts
  libs/rpc/src/event-extractor/index.ts
Due: build:setup

Fixed issue where references were not preserved between multiple objects used on the same EventExtractor instance with "maintainReferences" option enabled
  libs/rpc/src/event-extractor/index.test.ts
  libs/rpc/src/event-extractor/index.ts
Due: build:setup

Simplified EventExtractor code, added new placeholder class, and created a todo note regarding unique IDs for each RPC generated
  libs/rpc/src/event-extractor/index.ts
  libs/rpc/src/pending-rpc.ts
  libs/rpc/src/rpc-generator.test.ts
  libs/rpc/src/rpc-generator.ts
  libs/rpc/src/types/rpc-structure.ts
Due: build:setup

Added logic to RpcGenerator to generate new IDs when a previous chain is reused
  libs/rpc/src/rpc-generator.test.ts
  libs/rpc/src/rpc-generator.ts
  libs/rpc/src/types/rpc-structure.ts
Due: build:setup
