Repository doseofted/prim-rpc: changes, and which Woodpecker steps are due for each by the changed paths.
All: lib.example, build:example, build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, lib.ui, build:ui, build:setup

.woodpecker/.lib.example.yml:

pipeline:
  build:example:
    image: node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install # --filter=./libs/example
      - pnpm task dev:build -- --filter=./libs/example
      - pnpm task dev:test -- --filter=./libs/example
    when:
      event: [push]
      branch:
        - develop
        - feature/*

when:
  path: "libs/example/*"

.woodpecker/.lib.plugins.yml:

pipeline:
  build:plugins:
    image: node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install # --filter=./libs/plugins
      - pnpm task dev:build -- --filter=./libs/plugins
      - pnpm task dev:test -- --filter=./libs/plugins
    when:
      event: [push]
      branch:
        - develop
        - feature/*
      path: "libs/plugins/*"

.woodpecker/.lib.rpc.yml:

pipeline:
  build:rpc:
    image: node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install # --filter=./libs/rpc
      - pnpm task dev:build -- --filter=./libs/rpc
      - pnpm task dev:test -- --filter=./libs/rpc
    when:
      event: [push]
      branch:
        - develop
        - feature/*

when:
  path: "libs/rpc/*"

.woodpecker/.lib.tooling.yml:

pipeline:
  build:tooling:
    image: node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install # --filter=./libs/tooling
      - pnpm task dev:build -- --filter=./libs/tooling
      - pnpm task dev:test -- --filter=./libs/tooling
    when:
      event: [push]
      branch:
        - develop
        - feature/*

when:
  path: "libs/tooling/*"

.woodpecker/.lib.ui.yml:

pipeline:
  build:ui:
    image: node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install # --filter=./libs/ui
      - pnpm task dev:build -- --filter=./libs/ui
      - pnpm task dev:test -- --filter=./libs/ui
    when:
      event: [push]
      branch:
        - develop
        - feature/*

when:
  path: "libs/ui/*"

.woodpecker/.libs.yml:

pipeline:
  build:setup:
    image: &image node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install
    when: &when
      event:
        - push
      branch:
        - develop
        - feature/*
      path:
        - "libs/**"

  build:example:
    image: *image
    group: build
    commands:
      - pnpm task dev:build -- --filter=./libs/example
      - pnpm task dev:test -- --filter=./libs/example
    when:
      <<: *when
      path: "libs/example/*"

  build:rpc:
    image: *image
    group: build
    commands:
      - pnpm task dev:build -- --filter=./libs/rpc
      - pnpm task dev:test -- --filter=./libs/rpc
    when:
      <<: *when
      path: "libs/rpc/*"

  build:plugins:
    image: *image
    group: build
    commands:
      - pnpm task dev:build -- --filter=./libs/plugins
      - pnpm task dev:test -- --filter=./libs/plugins
    when:
      <<: *when
      path: "libs/plugins/*"

  build:tooling:
    image: *image
    group: build
    commands:
      - pnpm task dev:build -- --filter=./libs/tooling
      - pnpm task dev:test -- --filter=./libs/tooling
    when:
      <<: *when
      path: "libs/tooling/*"

  build:ui:
    image: *image
    group: build
    commands:
      - pnpm task dev:build -- --filter=./libs/ui
      - pnpm task dev:test -- --filter=./libs/ui
    when:
      <<: *when
      path: "libs/ui/*"

Added potential method of supporting generator functions in client (not full support but useful for supporting them)
  libs/rpc/src/client/index.ts
  libs/rpc/src/client/local.test.ts
  libs/rpc/src/client/proxy.test.ts
  libs/rpc/src/client/proxy.ts
Due: build:setup

Added support for generator transformation in RpcModule (and added back old client tests, accidentally deleted)
  libs/rpc/src/client.test.ts
  libs/rpc/src/types/merge.test-d.ts
  libs/rpc/src/types/rpc-module.test-d.ts
  libs/rpc/src/types/rpc-module.ts
Due: build:setup

Rearranging types to be easier to find and modify (also removed type tests, for now)
  libs/rpc/package.json
  libs/rpc/src/client-old.test.ts
  libs/rpc/src/client.ts
  libs/rpc/src/client/index.ts
  libs/rpc/src/client/local.test.ts
  libs/rpc/src/client/local.ts
  libs/rpc/src/client/plugin/callback.ts
  libs/rpc/src/client/plugin/method.ts
  libs/rpc/src/client/proxy.test.ts
  libs/rpc/src/client/proxy.ts
  libs/rpc/src/client/remote.ts
  libs/rpc/src/index.ts
  libs/rpc/src/interfaces.ts
  libs/rpc/src/options.ts
  libs/rpc/src/options/index.ts
  libs/rpc/src/server.ts
  libs/rpc/src/types/option-types.ts
  libs/rpc/src/types/rpc-module.ts
  libs/rpc/src/types/rpc-structure.ts
  libs/rpc/src/validate.ts
Due: lib.rpc, build:rpc, build:setup

More refactoring of types to prepare for options cleanup
  libs/rpc/src/client/local.ts
  libs/rpc/src/index.ts
  libs/rpc/src/interfaces.ts
  libs/rpc/src/options.ts
  libs/rpc/src/server.test.ts
  libs/rpc/src/server.ts
  libs/rpc/src/testing.ts
  libs/rpc/src/types/merge.ts
Due: build:setup

Upgraded TypeScript/typedoc, resolved new errors, somehow fixed type tests too (I won't even pretend to understand this one)
  libs/rpc/package.json
  libs/rpc/src/client.ts
  libs/rpc/src/extract/base.ts
  libs/rpc/src/testing.ts
  libs/rpc/src/types/rpc-module.ts
  libs/tooling/package.json
  package.json
  pnpm-lock.yaml
  prim-rpc.code-workspace
Due: lib.rpc, build:rpc, lib.tooling, build:tooling, build:setup

Nevermind, it didn't work but now it might (fix for typedoc hanging after build step)
  libs/rpc/src/client/index.ts
  libs/rpc/src/types/rpc-module.test-d.ts
  libs/rpc/src/types/rpc-module.ts
Due: build:setup

Cleanup after (maybe) fixing issue with build/typedoc
  libs/rpc/src/client/index.ts
  libs/rpc/src/types/rpc-module.test-d.ts
  libs/rpc/src/types/rpc-module.ts
Due: build:setup

Beginning separation of user-provded options from client-utilized options, optimized MergeMethods type
  libs/rpc/src/client.ts
  libs/rpc/src/client/index.ts
  libs/rpc/src/constants.ts
  libs/rpc/src/error.ts
  libs/rpc/src/extract/base.ts
  libs/rpc/src/extract/blobs.ts
  libs/rpc/src/extract/promises.ts
  libs/rpc/src/interfaces.ts
  libs/rpc/src/options/provided-user.ts
  libs/rpc/src/types/merge.ts
  libs/rpc/src/types/rpc-module.ts
  prim-rpc.code-workspace
Due: build:setup

Added error handling hook, started function to verify client-side options
  libs/rpc/src/client/index.ts
  libs/rpc/src/client/local.test.ts
  libs/rpc/src/client/local.ts
  libs/rpc/src/client/proxy.ts
  libs/rpc/src/options/client/provided.ts
  libs/rpc/src/options/client/utilized.ts
Due: build:setup

Rewrote and optimized extract/merge utils (now with max depth option)
  libs/rpc/package.json
  libs/rpc/src/client.ts
  libs/rpc/src/constants.ts
  libs/rpc/src/extract/base.test.ts
  libs/rpc/src/extract/base.ts
  libs/rpc/src/extract/blobs.ts
  libs/rpc/src/extract/callbacks.ts
  libs/rpc/src/extract/deprecated.ts
  libs/rpc/src/extract/promises.ts
  libs/rpc/src/server.ts
  pnpm-lock.yaml
Due: lib.rpc, build:rpc, build:setup

Added code headers to files where missing, added documentation, and renamed some functions
  libs/rpc/src/allow.ts
  libs/rpc/src/client.ts
  libs/rpc/src/client/index.ts
  libs/rpc/src/client/local.test.ts
  libs/rpc/src/client/local.ts
  libs/rpc/src/client/proxy.test.ts
  libs/rpc/src/client/proxy.ts
  libs/rpc/src/client/remote.ts
  libs/rpc/src/client/wrapper.test.ts
  libs/rpc/src/client/wrapper.ts
  libs/rpc/src/constants.ts
  libs/rpc/src/deprecated/extract-utils.ts
  libs/rpc/src/error.ts
  libs/rpc/src/extract/base.test.ts
  libs/rpc/src/flags.ts
  libs/rpc/src/options/client/provided.ts
  libs/rpc/src/options/client/utilized.ts
  libs/rpc/src/options/index.ts
  libs/rpc/src/server.ts
  libs/rpc/src/types/merge.test-d.ts
  libs/rpc/src/types/merge.ts
  libs/rpc/src/types/option-types.ts
  libs/rpc/src/types/rpc-module.test-d.ts
  libs/rpc/src/types/rpc-module.ts
  libs/rpc/src/types/rpc-structure.ts
  libs/rpc/src/validate.ts
Due: build:setup

Added synchronous handling of errors, improved interception from hooks, experimenting with new "resolvers" for RPC
  libs/rpc/src/client/index.ts
  libs/rpc/src/client/local.test.ts
  libs/rpc/src/client/local.ts
  libs/rpc/src/client/wrapper.test.ts
  libs/rpc/src/client/wrapper.ts
  libs/rpc/src/options/client/provided.ts
  libs/rpc/src/options/server/provided.ts
  libs/rpc/src/resolver/compatibility.ts
  libs/rpc/src/resolver/types.ts
  libs/rpc/src/server/index.ts
Due: build:setup

Simplified new options, made optional properties of options required during internal usage (to reflect defaults)
  libs/rpc/src/client.ts
  libs/rpc/src/client/index.ts
  libs/rpc/src/client/local.test.ts
  libs/rpc/src/client/local.ts
  libs/rpc/src/deprecated/extract-utils.ts
  libs/rpc/src/deprecated/flags.ts
  libs/rpc/src/deprecated/options.ts
  libs/rpc/src/interfaces.ts
  libs/rpc/src/options/client/utilized.ts
  libs/rpc/src/options/index.ts
  libs/rpc/src/options/provided.ts
  libs/rpc/src/options/server/provided.ts
  libs/rpc/src/resolver/types.ts
  libs/rpc/src/server.ts
  libs/rpc/src/server/index.ts
Due: build:setup

Fix for types on RPC client, renamed provided options type
  libs/rpc/src/client/index.test.ts
  libs/rpc/src/client/index.ts
  libs/rpc/src/client/local.test.ts
  libs/rpc/src/client/local.ts
  libs/rpc/src/client/plugin/callback.ts
  libs/rpc/src/client/plugin/method.ts
  libs/rpc/src/options/index.ts
  libs/rpc/src/options/provided.ts
  libs/rpc/src/resolver/types.ts
  libs/rpc/src/server/index.ts
Due: build:setup

Added uncommitted changes, including initial handling for remote calls to functions in the client
  libs/rpc/package.json
  libs/rpc/src/client/index.test.ts
  libs/rpc/src/client/local.test.ts
  libs/rpc/src/client/local.ts
  libs/rpc/src/client/proxy.test.ts
  libs/rpc/src/client/remote.ts
  libs/rpc/src/options/provided.ts
  libs/rpc/src/server/index.ts
  libs/rpc/src/types/rpc-module.ts
  pnpm-lock.yaml
Due: lib.rpc, build:rpc, build:setup

Upgraded Astro and Tailwind in documentation website (still many styling issues to resolve)
  apps/documentation/astro.config.mjs
  apps/documentation/package.json
  apps/documentation/postcss.config.cjs
  apps/documentation/src/layouts/Default.css
  apps/documentation/tailwind.config.cjs
  package.json
  pnpm-lock.yaml
Due: none

Upgraded more dependencies in documentation website
  apps/documentation/package.json
  libs/plugins/package.json
  libs/rpc/package.json
  pnpm-lock.yaml
Due: build:plugins, lib.rpc, build:rpc, build:setup

Upgraded Framer Motion (now using "motion" library), removed dependencies no longer required
  apps/documentation/package.json
  apps/documentation/src/components/IntroText.react.tsx
  apps/documentation/src/pages/index.astro
  apps/documentation/src/utils/lights/Light.ts
  apps/documentation/src/utils/lights/LightCanvas.ts
  apps/documentation/src/utils/lights/LightElements.ts
  apps/documentation/src/utils/lights/LightGroup.ts
  pnpm-lock.yaml
Due: none

More updates to dependencies across minor/patch versions
  apps/example/package.json
  libs/plugins/package.json
  libs/rpc/package.json
  package.json
  pnpm-lock.yaml
Due: build:plugins, lib.rpc, build:rpc, build:setup

Upgraded turborepo
  package.json
  pnpm-lock.yaml
  turbo.json
Due: none

Upgrades to more dependencies across the project
  apps/example/package.json
  libs/plugins/package.json
  libs/rpc/package.json
  libs/tooling/package.json
  package.json
  pnpm-lock.yaml
Due: build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, build:setup

Now using Node 22 (LTS version), upgraded pnpm
  .github/workflows/build.yml
  .github/workflows/publish.yml
  .nvmrc
  package.json
  pnpm-lock.yaml
Due: none

Created Development Container config, set up package manager, added task CLI
  .devcontainer/devcontainer.json
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  Taskfile.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Added turborepo to project and added tsdown to new RPC package
  .devcontainer/devcontainer.json
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  libs/rpc/package.json
  libs/rpc/src/index.ts
  libs/rpc/tsconfig.json
  libs/rpc/tsdown.config.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: lib.rpc, build:rpc, build:setup

Added biomejs to project
  .devcontainer/devcontainer.json
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  Taskfile.yml
  biome.json
  libs/rpc/package.json
  libs/rpc/src/index.ts
  libs/rpc/tsconfig.json
  libs/rpc/tsdown.config.js
  package.json
  pnpm-lock.yaml
  turbo.json
Due: lib.rpc, build:rpc, build:setup

Added vitest to project
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  .vscode/settings.json
  Taskfile.yml
  biome.json
  libs/rpc/package.json
  libs/rpc/src/index.test.ts
  libs/rpc/src/index.ts
  libs/rpc/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
  vitest.config.ts
Due: lib.rpc, build:rpc, build:setup

Created "ToBeDetermined" class to handle client return types from functions (handles promises and iterators)
  .devcontainer/devcontainer.json
  .vscode/extensions.json
  libs/rpc/package.json
  libs/rpc/src/iterable-promise.test.ts
  libs/rpc/src/iterable-promise.ts
  libs/rpc/tsconfig.json
  libs/rpc/tsdown.config.js
  pnpm-lock.yaml
Due: lib.rpc, build:rpc, build:setup

Renamed "ToBeDetermined" class to "UnknownAsync", added placeholder for new "CallCatcher" class
  libs/rpc/src/call-catcher.ts
  libs/rpc/src/unknown-async.test.ts
  libs/rpc/src/unknown-async.ts
Due: build:setup

Created initial CallCatcher class to catch method and property access
  libs/rpc/package.json
  libs/rpc/src/call-catcher-structure.ts
  libs/rpc/src/call-catcher.test.ts
  libs/rpc/src/call-catcher.ts
  pnpm-lock.yaml
Due: lib.rpc, build:rpc, build:setup

Created new tests for CallCatcher, fixed support for chained method calls
  libs/rpc/src/call-catcher.test.ts
  libs/rpc/src/call-catcher.ts
Due: build:setup

Replaced dependency for handling Proxy objects with new CallCatcher class
  libs/rpc/package.json
  libs/rpc/src/call-catcher.ts
  libs/rpc/src/unknown-async.ts
  pnpm-lock.yaml
Due: lib.rpc, build:rpc, build:setup

Cleanup of CallCatcher and UnknownAsync files
  libs/rpc/src/call-catcher-structure.ts
  libs/rpc/src/call-catcher.test.ts
  libs/rpc/src/call-catcher.ts
  libs/rpc/src/unknown-async.ts
Due: build:setup

CallCatcher now supports new proxy handlers, CallCatcher and UnknownAsync can now be configured
  libs/rpc/src/call-catcher.test.ts
  libs/rpc/src/call-catcher.ts
  libs/rpc/src/proxy-of-proxies.ts
  libs/rpc/src/unknown-async.test.ts
  libs/rpc/src/unknown-async.ts
Due: build:setup

Added support for property assignment/deletion in CallCatcher, added ability to choose supported async type in UnknownAsync class
  libs/rpc/src/call-catcher.test.ts
  libs/rpc/src/call-catcher.ts
  libs/rpc/src/proxy-of-proxies.ts
  libs/rpc/src/unknown-async.test.ts
  libs/rpc/src/unknown-async.ts
  libs/rpc/tsconfig.json
Due: lib.rpc, build:rpc, build:setup

Cleanup of old comments now that tests are passing, renamed CaughtPropAccess to better reflect possible values
  libs/rpc/src/call-catcher.test.ts
  libs/rpc/src/call-catcher.ts
  libs/rpc/src/proxy-of-proxies.ts
  libs/rpc/src/unknown-async.test.ts
  libs/rpc/src/unknown-async.ts
Due: build:setup

Now supporting additional caught types as fallback in UnknownAsync class
  libs/rpc/src/call-catcher.ts
  libs/rpc/src/unknown-async.test.ts
  libs/rpc/src/unknown-async.ts
Due: build:setup

Fixed build issues, upgraded dependencies in project
  Taskfile.yml
  biome.json
  libs/rpc/package.json
  libs/rpc/src/call-catcher.ts
  libs/rpc/src/unknown-async.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lib.rpc, build:rpc, build:setup

Added DevContainer configuration, added fix for failing Hono test
  .devcontainer/devcontainer.json
  libs/plugins/src/server/hono.test.ts
Due: build:setup

Upgraded to Node v22, upgraded minor dependencies across the project
  .devcontainer/devcontainer.json
  .nvmrc
  apps/documentation/package.json
  apps/example/package.json
  libs/example/package.json
  libs/plugins/package.json
  libs/plugins/src/server/hono.test.ts
  libs/rpc/package.json
  libs/tooling/package.json
  package.json
  pnpm-lock.yaml
Due: lib.example, build:example, build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, build:setup
