Repository doseofted/prim-rpc: changes, and which Woodpecker steps are due for each by the changed paths.
All: lib.example, build:example, build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, lib.ui, build:ui, build:setup

lib.example:
  steps:
    build:example:
      image: node:19.4-bullseye
      commands:
      - corepack enable
      - pnpm install
      - pnpm task dev:build -- --filter=./libs/example
      - pnpm task dev:test -- --filter=./libs/example
      when:
        event:
        - push
        branch:
        - develop
        - feature/*

build:example:
  image: node:19.4-bullseye
  commands:
  - corepack enable
  - pnpm install
  - pnpm task dev:build -- --filter=./libs/example
  - pnpm task dev:test -- --filter=./libs/example

build:plugins:
  image: node:19.4-bullseye
  commands:
  - corepack enable
  - pnpm install
  - pnpm task dev:build -- --filter=./libs/plugins
  - pnpm task dev:test -- --filter=./libs/plugins

lib.rpc:
  steps:
    build:rpc:
      image: node:19.4-bullseye
      commands:
      - corepack enable
      - pnpm install
      - pnpm task dev:build -- --filter=./libs/rpc
      - pnpm task dev:test -- --filter=./libs/rpc
      when:
        event:
        - push
        branch:
        - develop
        - feature/*

build:rpc:
  image: node:19.4-bullseye
  commands:
  - corepack enable
  - pnpm install
  - pnpm task dev:build -- --filter=./libs/rpc
  - pnpm task dev:test -- --filter=./libs/rpc

lib.tooling:
  steps:
    build:tooling:
      image: node:19.4-bullseye
      commands:
      - corepack enable
      - pnpm install
      - pnpm task dev:build -- --filter=./libs/tooling
      - pnpm task dev:test -- --filter=./libs/tooling
      when:
        event:
        - push
        branch:
        - develop
        - feature/*

build:tooling:
  image: node:19.4-bullseye
  commands:
  - corepack enable
  - pnpm install
  - pnpm task dev:build -- --filter=./libs/tooling
  - pnpm task dev:test -- --filter=./libs/tooling

lib.ui:
  steps:
    build:ui:
      image: node:19.4-bullseye
      commands:
      - corepack enable
      - pnpm install
      - pnpm task dev:build -- --filter=./libs/ui
      - pnpm task dev:test -- --filter=./libs/ui
      when:
        event:
        - push
        branch:
        - develop
        - feature/*

build:ui:
  image: node:19.4-bullseye
  commands:
  - corepack enable
  - pnpm install
  - pnpm task dev:build -- --filter=./libs/ui
  - pnpm task dev:test -- --filter=./libs/ui

build:setup:
  image: node:19.4-bullseye
  commands:
  - corepack enable
  - pnpm install

File uploads with Express no longer save to OS tmp folder, now uses File interface (using Node-specific import since Express is a Node framework)
  libs/plugins/src/server/express.test.ts
  libs/plugins/src/server/express.ts
Due: build:setup

Added new option to documentation, updated Express integration docs
  docs/text/plugins/server.mdx
  docs/text/reference/configuration.mdx
Due: none

Fastify integration no longer uses tmp directory, uses File interface, docs updated)
  .changeset/violet-balloons-fetch.md
  docs/text/plugins/server.mdx
  docs/text/usage.mdx
  libs/plugins/src/server/fastify.test.ts
  libs/plugins/src/server/fastify.ts
Due: build:setup

Simplified example module to consider new file upload interface
  libs/example/src/index.ts
  libs/plugins/src/server/express.test.ts
  libs/rpc/src/client.test.ts
Due: build:setup

Renamed Usage page -> Features page
  apps/frontend/src/components/DocsToc.tsx
  apps/frontend/src/pages/index.tsx
  docs/text/examples.mdx
  docs/text/features.mdx
  docs/text/index.mdx
  docs/text/setup.mdx
Due: none

H3 integration now uses File, no longer saves to tmp directory
  .changeset/nervous-impalas-sin.md
  docs/text/plugins/server.mdx
  libs/plugins/src/server/h3.test.ts
  libs/plugins/src/server/h3.ts
Due: build:setup

Renamed Next.js app handler
  .changeset/clever-rivers-teach.md
  apps/frontend/src/app/prim/[[...prim]]/route.ts
  docs/text/plugins/server.mdx
  libs/plugins/src/server/nextjs.ts
Due: build:setup

Added changeset for Express handler update
  .changeset/wild-kids-applaud.md
Due: none

Next.js integration now uses File object, no longer uses tmp directory
  .changeset/lazy-laws-remember.md
  docs/text/plugins/server.mdx
  libs/plugins/src/server/nextjs.ts
Due: build:setup

Added showErrorStack option to server configuration example
  docs/text/reference/configuration.mdx
Due: none

Now attempting to find global File/Blob to support non-Node environments (and make new plugins work in Node 16)
  libs/plugins/src/server/express.ts
  libs/plugins/src/server/fastify.ts
  libs/plugins/src/server/h3.ts
  libs/plugins/src/server/hono.ts
  libs/plugins/src/server/nextjs.ts
  libs/plugins/tsconfig.json
  libs/rpc/tsconfig.json
Due: build:plugins, lib.rpc, build:rpc, build:setup

Added a changeset, node-specific imports in plugins are now dynamic imports
  .changeset/unlucky-jars-buy.md
Due: none

Dynamic imports now supported
  .changeset/kind-teachers-taste.md
  libs/rpc/src/client.test.ts
  libs/rpc/src/client.ts
  libs/rpc/src/index.ts
  libs/rpc/src/interfaces.ts
  libs/rpc/src/server.test.ts
Due: build:setup

Documentation site now uses dynamic import for example function call on homepage
  apps/frontend/src/app/prim/client.ts
  apps/frontend/src/pages/tests/form.tsx
Due: none

Removed headers from Prim RPC server in docs site, removed required parameter in Next.js handler
  .changeset/tiny-cameras-watch.md
  apps/frontend/src/app/prim/[[...prim]]/route.ts
  libs/plugins/src/server/nextjs.ts
Due: build:setup

Added example of dynamic import to docs
  docs/text/reference/configuration.mdx
Due: none

Added missing import name in docs
  docs/text/reference/configuration.mdx
Due: none

Small change to module docs
  docs/text/reference/configuration.mdx
Due: none

Added to security guide, added more tests for Prim RPC client
  docs/text/security.mdx
  libs/example/src/index.ts
  libs/rpc/src/client.test.ts
  libs/rpc/src/interfaces.ts
Due: build:setup

Addressed functions without parameters in docs generator (fixes failed test)
  libs/plugins/src/ipc/web-worker.ts
  libs/tooling/src/docs/generator.ts
  libs/tooling/src/docs/index.test.ts
Due: build:setup

Docs now use new exports for web worker plugin
  .changeset/two-badgers-retire.md
  apps/frontend/src/components/CodeHighlighted/index.tsx
  apps/frontend/src/components/CodeHighlighted/worker.ts
Due: none

Updated docs to reflect new exports for web worker plugin
  docs/text/plugins/ipc.mdx
Due: none

Fix for wrong HTTP code on successful result
  .changeset/thirty-buckets-develop.md
  libs/rpc/src/client.test.ts
  libs/rpc/src/server.ts
Due: build:setup

Fixed issue where requests made one after another are batched even when configured batch time is 0
  .changeset/shiny-wombats-ring.md
  libs/rpc/src/client.ts
Due: build:setup

File size is now checked to avoid sending empty File/Blob objects
  .changeset/chilly-donuts-search.md
  libs/rpc/src/blobs.ts
Due: build:setup

Reverted file size check on client
  libs/rpc/src/blobs.ts
Due: build:setup

Relaxed Hono file uploads to account for possible empty files (for instance on HTML forms)
  libs/plugins/src/server/h3.ts
Due: build:setup

Added changesets
  .changeset/flat-jokes-check.md
  .changeset/smart-toes-prove.md
Due: none

Updated Github actions so docs site isn't built twice on two different services
  .github/workflows/build.yml
Due: none

Removed build filter
  .github/workflows/build.yml
Due: none

Added new checks for usage of modules on server
  .changeset/olive-dryers-give.md
  libs/rpc/src/client.ts
  libs/rpc/src/interfaces.ts
  libs/rpc/src/server.test.ts
  libs/rpc/src/server.ts
Due: build:setup

Added more server checks for calling module, fixed type definitions for methods-on-methods, added tests for calling module for server
  .changeset/rare-owls-poke.md
  libs/example/src/dynamic.ts
  libs/example/src/index.ts
  libs/example/src/things.ts
  libs/example/tsconfig.json
  libs/rpc/src/client.test.ts
  libs/rpc/src/interfaces.ts
  libs/rpc/src/server.test.ts
  libs/rpc/src/server.ts
Due: lib.example, build:example, build:setup

Client now resolves dynamically imported module (if given one) once instead of on each function call
  libs/rpc/src/client.ts
Due: build:setup

Added new option to preventImport tool for run-time import checks of server-side code (useful for preventing import in testing frameworks), now using in docs website
  .changeset/spotty-dryers-wave.md
  apps/frontend/next.config.js
  libs/tooling/src/build/index.ts
Due: build:setup

Tests in documentation site now use testng client in development
  apps/frontend/src/app/prim/client.ts
  apps/frontend/src/pages/index.tsx
  apps/frontend/src/pages/tests/callbacks.tsx
  apps/frontend/src/pages/tests/form.tsx
  apps/frontend/src/pages/tests/greeting.tsx
Due: none

Small misc. changes to security page, removed eslint directive in example backend
  apps/backend/src/index.ts
  docs/text/security.mdx
Due: none

Added check for RPC call/result and HTTP-like request/response on Prim RPC server
  libs/rpc/src/interfaces.ts
  libs/rpc/src/server.ts
  libs/rpc/src/validate.ts
Due: build:setup

Fix for broken type definitions on async functions
  .changeset/happy-sloths-learn.md
  libs/rpc/src/interfaces.ts
Due: build:setup

Errors are now better handled during handling of HTTP-like request, RPC processing, and HTTP-like response
  libs/example/src/index.ts
  libs/rpc/src/error.ts
  libs/rpc/src/server.test.ts
  libs/rpc/src/server.ts
  libs/rpc/src/validate.ts
Due: build:setup

Added changeset for improved error handling
  .changeset/warm-walls-design.md
Due: none

Path conditions:
  lib.example: any of: libs/example/*
  build:example: any of: libs/example/*
  build:plugins: any of: libs/plugins/*
  lib.rpc: any of: libs/rpc/*
  build:rpc: any of: libs/rpc/*
  lib.tooling: any of: libs/tooling/*
  build:tooling: any of: libs/tooling/*
  lib.ui: any of: libs/ui/*
  build:ui: any of: libs/ui/*
  build:setup: any of: libs/**
