Repository doseofted/prim-rpc: changes, and which Woodpecker steps are due for each by the changed paths.
All: lib.example, build:example, build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, lib.ui, build:ui, build:setup

.woodpecker/.lib.example.yml:

pipeline:
  build:example:
    image: node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install # --filter=./libs/example
      - pnpm task dev:build -- --filter=./libs/example
      - pnpm task dev:test -- --filter=./libs/example
    when:
      event: [push]
      branch:
        - develop
        - feature/*

when:
  path: "libs/example/*"

.woodpecker/.lib.plugins.yml:

pipeline:
  build:plugins:
    image: node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install # --filter=./libs/plugins
      - pnpm task dev:build -- --filter=./libs/plugins
      - pnpm task dev:test -- --filter=./libs/plugins
    when:
      event: [push]
      branch:
        - develop
        - feature/*
      path: "libs/plugins/*"

.woodpecker/.lib.rpc.yml:

pipeline:
  build:rpc:
    image: node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install # --filter=./libs/rpc
      - pnpm task dev:build -- --filter=./libs/rpc
      - pnpm task dev:test -- --filter=./libs/rpc
    when:
      event: [push]
      branch:
        - develop
        - feature/*

when:
  path: "libs/rpc/*"

.woodpecker/.lib.tooling.yml:

pipeline:
  build:tooling:
    image: node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install # --filter=./libs/tooling
      - pnpm task dev:build -- --filter=./libs/tooling
      - pnpm task dev:test -- --filter=./libs/tooling
    when:
      event: [push]
      branch:
        - develop
        - feature/*

when:
  path: "libs/tooling/*"

.woodpecker/.lib.ui.yml:

pipeline:
  build:ui:
    image: node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install # --filter=./libs/ui
      - pnpm task dev:build -- --filter=./libs/ui
      - pnpm task dev:test -- --filter=./libs/ui
    when:
      event: [push]
      branch:
        - develop
        - feature/*

when:
  path: "libs/ui/*"

.woodpecker/.libs.yml:

pipeline:
  build:setup:
    image: &image node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install
    when: &when
      event:
        - push
      branch:
        - develop
        - feature/*
      path:
        - "libs/**"

  build:example:
    image: *image
    group: build
    commands:
      - pnpm task dev:build -- --filter=./libs/example
      - pnpm task dev:test -- --filter=./libs/example
    when:
      <<: *when
      path: "libs/example/*"

  build:rpc:
    image: *image
    group: build
    commands:
      - pnpm task dev:build -- --filter=./libs/rpc
      - pnpm task dev:test -- --filter=./libs/rpc
    when:
      <<: *when
      path: "libs/rpc/*"

  build:plugins:
    image: *image
    group: build
    commands:
      - pnpm task dev:build -- --filter=./libs/plugins
      - pnpm task dev:test -- --filter=./libs/plugins
    when:
      <<: *when
      path: "libs/plugins/*"

  build:tooling:
    image: *image
    group: build
    commands:
      - pnpm task dev:build -- --filter=./libs/tooling
      - pnpm task dev:test -- --filter=./libs/tooling
    when:
      <<: *when
      path: "libs/tooling/*"

  build:ui:
    image: *image
    group: build
    commands:
      - pnpm task dev:build -- --filter=./libs/ui
      - pnpm task dev:test -- --filter=./libs/ui
    when:
      <<: *when
      path: "libs/ui/*"

Renamed publish action
  .github/workflows/publish.yml
Due: none

Attempt to fix build issue when using turbo remote cache
  .github/workflows/publish.yml
  turbo.json
Due: none

Trying install with pnpm setup step
  .github/workflows/build.yml
Due: none

Trying pnpm install at setup in publish step
  .github/workflows/publish.yml
Due: none

Removed commented out line in build action, pnpm install works again but may not be cached
  .github/workflows/build.yml
Due: none

Added back old install that (should) support cache
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

Attempt to fix pnpm install cache issue in actions
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

Temporarily disabled pnpm cache
  .github/workflows/build.yml
  .github/workflows/publish.yml
Due: none

Added provenance option to package.json
  .changeset/mighty-horses-try.md
  libs/plugins/package.json
  libs/rpc/package.json
  libs/tooling/package.json
  libs/ui/package.json
Due: build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, lib.ui, build:ui, build:setup

Attempt to fix publish issue with provenance
  .github/workflows/publish.yml
Due: none

Modified permissions
  .github/workflows/publish.yml
Due: none

Fixed changeset access
  .changeset/config.json
Due: none

Adjustments to light count, footer, removed call to server from homepage (since not needed)
  apps/frontend/src/components/Layout.tsx
  apps/frontend/src/components/LightsState.tsx
  apps/frontend/src/components/PrimTitle.tsx
  apps/frontend/src/pages/index.tsx
Due: none

More adjustments to lights on homepage
  apps/frontend/src/pages/index.tsx
Due: none

Fixed modal behavior (downgraded headlessui due to focus issue)
  README.md
  apps/frontend/package.json
  apps/frontend/src/pages/cms.tsx
  pnpm-lock.yaml
Due: none

Install step in Setup guide now includes version (fixed broken links)
  README.md
  apps/frontend/src/components/Layout.tsx
  apps/frontend/src/pages/cms.tsx
  apps/frontend/src/pages/index.tsx
  docs/text/index.mdx
  docs/text/setup.mdx
  prim-rpc.code-workspace
Due: none

Replaced usage of Lodash with "just" utilities
  .changeset/selfish-trainers-buy.md
  libs/rpc/package.json
  libs/rpc/src/client.ts
  libs/rpc/src/server.ts
  libs/tooling/package.json
  libs/tooling/src/docs/generator.ts
  libs/tooling/src/docs/helpers/read.ts
  libs/tooling/src/docs/index.test.ts
  pnpm-lock.yaml
Due: lib.rpc, build:rpc, lib.tooling, build:tooling, build:setup

Added badges to README
  README.md
Due: none

Added links to badges
  README.md
Due: none

Shiki now runs in web worker on homepage (and uses Prim+RPC to communicate with worker)
  apps/frontend/src/components/CodeHighlighted.tsx
  apps/frontend/src/components/CodeHighlighted/highlight.ts
  apps/frontend/src/components/CodeHighlighted/index.tsx
  apps/frontend/src/components/CodeHighlighted/worker.ts
Due: none

Removed retina option from pts canvas (canvas is blurred, not needed)
  apps/frontend/src/components/Lights.tsx
Due: none

Documentation website scale reduced on mobile devices
  apps/frontend/src/styles/globals.css
Due: none

Fixed code highlight on wrong line in setup guide
  README.md
  docs/text/index.mdx
  docs/text/setup.mdx
Due: none

Added stackblitz link to examples in documentation
  apps/frontend/public/open_in_stackblitz.svg
  docs/text/examples.mdx
Due: none

Added Ackee analytics, Github link in navigation now directs to Prim+RPC repository
  apps/frontend/src/components/Layout.tsx
  apps/frontend/src/components/Navigation.tsx
  apps/frontend/src/pages/_app.tsx
Due: none

Table of Contents now takes up less space in the documentation
  apps/frontend/src/components/LayoutDocs.tsx
Due: none

Docs now have longer width and line up with subheader
  apps/frontend/src/components/LayoutDocs.tsx
Due: none

Added icons to docs homepage, upgraded DaisyUI, ToC now uses DaisyUI menu
  apps/frontend/package.json
  apps/frontend/src/components/Alert.tsx
  apps/frontend/src/components/DocsToc.tsx
  apps/frontend/src/components/LayoutDocs.tsx
  apps/frontend/src/pages/cms.tsx
  apps/frontend/src/pages/index.tsx
  apps/frontend/src/styles/globals.css
  libs/plugins/package.json
  libs/tooling/package.json
  libs/ui/package.json
  package.json
  pnpm-lock.yaml
Due: build:plugins, lib.tooling, build:tooling, lib.ui, build:ui, build:setup

Added changeset for docs update
  .changeset/witty-buttons-cough.md
Due: none

Downgraded Typescript back to 5.0 for now (issue using typedoc), upgraded TypeDoc
  apps/frontend/package.json
  libs/plugins/package.json
  libs/rpc/package.json
  libs/tooling/package.json
  libs/tooling/src/docs/generator.ts
  libs/tooling/src/docs/helpers/create.ts
  libs/ui/package.json
  package.json
  pnpm-lock.yaml
Due: build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, lib.ui, build:ui, build:setup

Added app router version of a possible Next.js handler plugin for Prim RPC
  apps/backend/package.json
  apps/frontend/src/app/prim/[[...prim]].ts
  libs/plugins/build.config.js
  libs/plugins/package.json
  libs/plugins/src/server/nextjs-api.ts
  libs/plugins/src/server/nextjs-app.ts
  package.json
  pnpm-lock.yaml
Due: build:plugins, build:setup

Handler for Next.js now works (app router)
  apps/frontend/next.config.js
  apps/frontend/src/app/prim/[[...prim]].ts
  apps/frontend/src/app/prim/[[...prim]]/route.ts
  apps/frontend/src/app/prim/client.ts
  apps/frontend/src/pages/index.tsx
  libs/plugins/src/server/nextjs-app.ts
Due: build:setup

pnpm workspace now only targets direct children of given directories
  apps/frontend/src/prim-client.ts
  pnpm-workspace.yaml
Due: none

Fixed compile error (broken import path)
  apps/frontend/src/app/prim/[[...prim]]/route.ts
  apps/frontend/src/pages/index.tsx
  apps/frontend/src/pages/tests/callbacks.tsx
  apps/frontend/src/pages/tests/form.tsx
  apps/frontend/src/pages/tests/greeting.tsx
Due: none

Cleanup of Next.js handler for Prim RPC in documentation
  apps/frontend/next.config.js
  apps/frontend/src/app/prim/client.ts
  apps/frontend/src/pages/index.tsx
Due: none

Combined Next app/pages exports into one (only app version exists for now)
  apps/frontend/src/app/prim/[[...prim]]/route.ts
  apps/frontend/src/app/prim/client.ts
  libs/plugins/build.config.js
  libs/plugins/package.json
  libs/plugins/src/server/nextjs-api.ts
  libs/plugins/src/server/nextjs.ts
Due: build:plugins, build:setup

Added a pages router alternative, not tested or finished yet (commented out for now). It may not be needed since app/pages router can be used together in Nextjs
  libs/plugins/src/server/nextjs.ts
Due: build:setup

Added docs for Next.js integration (WIP)
  docs/text/plugins/server.mdx
Due: none

Slight rewording in the docs
  docs/text/plugins/server.mdx
Due: none

Attempt to fix server-side fetch in docs
  apps/frontend/src/app/prim/client.ts
  docs/text/plugins/server.mdx
Due: none
