Repository doseofted/prim-rpc: changes, and which Woodpecker steps are due for each by the changed paths.
All: lib.example, build:example, build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, lib.ui, build:ui, build:setup

lib.example:
  steps:
    build:example:
      image: node:19.4-bullseye
      commands:
      - corepack enable
      - pnpm install
      - pnpm task dev:build -- --filter=./libs/example
      - pnpm task dev:test -- --filter=./libs/example
      when:
        event:
        - push
        branch:
        - develop
        - feature/*

build:example:
  image: node:19.4-bullseye
  commands:
  - corepack enable
  - pnpm install
  - pnpm task dev:build -- --filter=./libs/example
  - pnpm task dev:test -- --filter=./libs/example

build:plugins:
  image: node:19.4-bullseye
  commands:
  - corepack enable
  - pnpm install
  - pnpm task dev:build -- --filter=./libs/plugins
  - pnpm task dev:test -- --filter=./libs/plugins

lib.rpc:
  steps:
    build:rpc:
      image: node:19.4-bullseye
      commands:
      - corepack enable
      - pnpm install
      - pnpm task dev:build -- --filter=./libs/rpc
      - pnpm task dev:test -- --filter=./libs/rpc
      when:
        event:
        - push
        branch:
        - develop
        - feature/*

build:rpc:
  image: node:19.4-bullseye
  commands:
  - corepack enable
  - pnpm install
  - pnpm task dev:build -- --filter=./libs/rpc
  - pnpm task dev:test -- --filter=./libs/rpc

lib.tooling:
  steps:
    build:tooling:
      image: node:19.4-bullseye
      commands:
      - corepack enable
      - pnpm install
      - pnpm task dev:build -- --filter=./libs/tooling
      - pnpm task dev:test -- --filter=./libs/tooling
      when:
        event:
        - push
        branch:
        - develop
        - feature/*

build:tooling:
  image: node:19.4-bullseye
  commands:
  - corepack enable
  - pnpm install
  - pnpm task dev:build -- --filter=./libs/tooling
  - pnpm task dev:test -- --filter=./libs/tooling

lib.ui:
  steps:
    build:ui:
      image: node:19.4-bullseye
      commands:
      - corepack enable
      - pnpm install
      - pnpm task dev:build -- --filter=./libs/ui
      - pnpm task dev:test -- --filter=./libs/ui
      when:
        event:
        - push
        branch:
        - develop
        - feature/*

build:ui:
  image: node:19.4-bullseye
  commands:
  - corepack enable
  - pnpm install
  - pnpm task dev:build -- --filter=./libs/ui
  - pnpm task dev:test -- --filter=./libs/ui

build:setup:
  image: node:19.4-bullseye
  commands:
  - corepack enable
  - pnpm install

Added missing license headers, addressed new lint issues
  libs/plugins/src/client/browser-fetch.test.ts
  libs/plugins/src/server/astro.ts
  libs/plugins/src/server/nextjs.ts
  libs/rpc/src/server.test.ts
Due: build:setup

Added code banner to build output
  libs/plugins/build.config.js
  libs/rpc/build.config.js
  libs/tooling/build.config.js
Due: build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, build:setup

Binary blob handlers are now supported on client, yet to be supported in plugins
  libs/rpc/package.json
  libs/rpc/src/client.test.ts
  libs/rpc/src/client.ts
  libs/rpc/src/server.ts
  libs/rpc/src/testing.ts
  pnpm-lock.yaml
Due: lib.rpc, build:rpc, build:setup

Fix to allow File/Blob to still be extracted while using JSON binary handler if needed
  libs/rpc/src/client.test.ts
  libs/rpc/src/client.ts
  libs/rpc/src/server.ts
Due: build:setup

Attempt to get fetch method handler working with binary JSON handler (not working yet)
  .changeset/odd-files-join.md
  apps/example/package.json
  apps/example/src/index.ts
  libs/plugins/package.json
  libs/plugins/src/client/browser-fetch.test.ts
  libs/plugins/src/client/browser-fetch.ts
  libs/plugins/src/server/fastify.ts
  pnpm-lock.yaml
Due: build:plugins, build:setup

Fixed issue using binary JSON handler
  libs/plugins/src/client/browser-fetch.test.ts
  libs/plugins/src/client/browser-fetch.ts
  libs/plugins/src/server/fastify.ts
Due: build:setup

Cleanup of some code, added potential skeletons of plugin/handlers for future use
  libs/plugins/src/client/browser-fetch.test.ts
  libs/plugins/src/pseudo/callback-handler.ts
  libs/plugins/src/pseudo/callback-plugin.ts
  libs/plugins/src/pseudo/method-handler.ts
  libs/plugins/src/pseudo/method-plugin.ts
  libs/plugins/src/server/fastify.ts
Due: build:setup

H3 handler now supports files in RPC result
  .changeset/tall-jeans-count.md
  libs/plugins/src/server/fastify.test.ts
  libs/plugins/src/server/fastify.ts
  libs/plugins/src/server/h3.test.ts
  libs/plugins/src/server/h3.ts
Due: build:setup

Express now supports files in RPC, updated documentation to reflect updates
  .changeset/mean-buttons-drop.md
  apps/documentation/src/pages/docs/plugins/server.mdx
  libs/plugins/package.json
  libs/plugins/src/client/browser-fetch.ts
  libs/plugins/src/server/express.test.ts
  libs/plugins/src/server/express.ts
  libs/plugins/src/server/h3.test.ts
  libs/plugins/src/server/h3.ts
  pnpm-lock.yaml
Due: build:plugins, build:setup

Hono now supports files within RPC result
  .changeset/kind-tables-lay.md
  libs/plugins/src/server/hono.test.ts
  libs/plugins/src/server/hono.ts
  libs/plugins/src/server/request.ts
  libs/plugins/src/utils/isomorphic.ts
  libs/plugins/tsconfig.json
  libs/rpc/tsconfig.json
  libs/tooling/tsconfig.json
Due: build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, build:setup

Simplified usage of File across envs where needed
  libs/plugins/src/server/astro.ts
  libs/plugins/src/server/express.ts
  libs/plugins/src/server/fastify.ts
  libs/plugins/src/server/h3.ts
  libs/plugins/src/server/request.ts
  libs/plugins/src/utils/isomorphic.ts
Due: build:setup

Astro handler now supports files in RPC result
  .changeset/shy-jobs-mate.md
  libs/plugins/src/server/astro.ts
Due: build:setup

Next.js handler now supports files in RPC result
  .changeset/five-llamas-jam.md
  libs/plugins/src/server/nextjs.ts
Due: build:setup

Added server fetch/request handler for modern JS runtimes
  .changeset/yellow-dingos-shop.md
  libs/plugins/build.config.js
  libs/plugins/package.json
  libs/plugins/src/server/request.ts
  libs/plugins/src/server/server-fetch.ts
Due: build:plugins, build:setup

Upgraded project dependencies
  apps/documentation/package.json
  apps/example/package.json
  libs/example/package.json
  libs/plugins/package.json
  libs/rpc/package.json
  libs/tooling/package.json
  package.json
  pnpm-lock.yaml
Due: lib.example, build:example, build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, build:setup

Updated documentation and changed context behavior of server handlers
  .changeset/silver-hats-film.md
  apps/documentation/src/pages/docs/limitations.mdx
  apps/documentation/src/pages/docs/plugins/server.mdx
  libs/plugins/src/server/astro.ts
  libs/plugins/src/server/express.ts
  libs/plugins/src/server/fastify.ts
  libs/plugins/src/server/h3.ts
  libs/plugins/src/server/hono.ts
  libs/plugins/src/server/nextjs.ts
  libs/plugins/src/server/node-http.ts
  libs/plugins/src/server/server-fetch.ts
  libs/plugins/src/server/ws.ts
Due: build:setup

Added documentation for new Fetch handler
  apps/documentation/src/pages/docs/plugins/server.mdx
Due: none

Fixed Deno import format in documentation
  apps/documentation/src/pages/docs/plugins/server.mdx
Due: none

Experimenting with using Astro/React for new updated documentation
  .eslintrc.cjs
  .prettierrc.yaml
  apps/documentation-new/.eslintrc.cjs
  apps/documentation-new/.gitignore
  apps/documentation-new/CHANGELOG.md
  apps/documentation-new/astro.config.mjs
  apps/documentation-new/package.json
  apps/documentation-new/public/open_in_stackblitz.svg
  apps/documentation-new/public/placeholder.png
  apps/documentation-new/public/prim-doseofted-attribution.png
  apps/documentation-new/public/prim-nav-doseofted-attribution.png
  apps/documentation-new/public/robots.txt
  apps/documentation-new/public/social.png
  apps/documentation-new/src/client.ts
  apps/documentation-new/src/components/Columns.astro
  apps/documentation-new/src/components/IntroText.tsx
  apps/documentation-new/src/components/Navigation.astro
  apps/documentation-new/src/components/Prim.astro
  apps/documentation-new/src/env.d.ts
  apps/documentation-new/src/functions/index.ts
  apps/documentation-new/src/layouts/Default.astro
  apps/documentation-new/src/pages/index.astro
  apps/documentation-new/src/pages/prim/[...prim].ts
  apps/documentation-new/src/pages/test.astro
  apps/documentation-new/src/pages/what.mdx
  apps/documentation-new/tailwind.config.cjs
  apps/documentation-new/tsconfig.json
  apps/documentation/src/pages/index.tsx
  package.json
  pnpm-lock.yaml
  prim-rpc.code-workspace
Due: none

Trying out web components, added Shiki dependency directly (attempting to fix CI issue)
  apps/documentation-new/package.json
  apps/documentation-new/src/components/IntroText.astro
  apps/documentation-new/src/env.d.ts
  apps/documentation-new/src/layouts/Default.astro
  apps/documentation-new/src/pages/index.astro
  apps/documentation-new/tsconfig.json
  pnpm-lock.yaml
Due: none

Rearranged elements on homepage, fixed potential issues working with VS Code
  apps/documentation-new/astro.config.mjs
  apps/documentation-new/src/components/IntroText.astro
  apps/documentation-new/src/components/IntroText.react.tsx
  apps/documentation-new/src/functions/index.ts
  apps/documentation-new/src/layouts/Default.astro
  apps/documentation-new/src/pages/index.astro
Due: none

Added features from old site, trying different motion library in Astro
  apps/documentation-new/package.json
  apps/documentation-new/postcss.config.cjs
  apps/documentation-new/src/client.ts
  apps/documentation-new/src/layouts/Default.astro
  apps/documentation-new/src/pages/index.astro
  apps/documentation-new/src/pages/prim/[...prim].ts
  apps/documentation-new/src/server/greetings.ts
  apps/documentation-new/src/server/index.ts
  apps/documentation-new/src/utils/lenis.ts
  apps/documentation-new/src/utils/store.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

Fix for homepage animation, now shorter on page refresh for session
  apps/documentation-new/src/components/IntroText.react.tsx
  apps/documentation-new/src/components/Test.mdx
  apps/documentation-new/src/layouts/Default.astro
  apps/documentation-new/src/pages/index.astro
  apps/documentation-new/src/pages/what.mdx
  apps/documentation-new/src/utils/easings.ts
  apps/documentation-new/src/utils/lenis.ts
  apps/documentation-new/src/utils/store.ts
Due: none

Added basic light interaction to new documentation, buggy but already works better than effect used in old website
  apps/documentation-new/package.json
  apps/documentation-new/src/components/Columns.astro
  apps/documentation-new/src/components/IntroText.react.tsx
  apps/documentation-new/src/components/Lights.astro
  apps/documentation-new/src/components/Navigation.astro
  apps/documentation-new/src/layouts/Default.astro
  apps/documentation-new/src/pages/index.astro
  apps/documentation-new/src/pages/test.astro
  apps/documentation-new/src/utils/lenis.ts
  apps/documentation-new/src/utils/lights.ts
  apps/documentation-new/src/utils/store.ts
  pnpm-lock.yaml
Due: none

Fixed issue navigating to new pages and keeping light effect with view transitions enabled
  apps/documentation-new/package.json
  apps/documentation-new/src/components/Lights.astro
  apps/documentation-new/src/layouts/Default.astro
  apps/documentation-new/src/utils/lights.ts
  apps/documentation-new/src/utils/lights/Light.ts
  apps/documentation-new/src/utils/lights/LightEvents.ts
  apps/documentation-new/src/utils/lights/LightSet.ts
  apps/documentation-new/src/utils/lights/index.ts
  pnpm-lock.yaml
Due: none

Fix to allow lights to be removed on page navigation when next page doesn' have lights
  apps/documentation-new/src/components/Lights.astro
  apps/documentation-new/src/components/Navigation.astro
  apps/documentation-new/src/layouts/Default.astro
  apps/documentation-new/src/pages/index.astro
  apps/documentation-new/src/utils/lights/LightEvents.ts
Due: none

Consdering new abstraction over light to group multiple lights with random behavior specific to elements
  apps/documentation-new/src/components/Lights.astro
  apps/documentation-new/src/utils/lights/Light.ts
  apps/documentation-new/src/utils/lights/LightGroup.ts
Due: none

Small refactor, renamed parts of light effect on docs website
  apps/documentation-new/src/components/Lights.astro
  apps/documentation-new/src/layouts/Default.astro
  apps/documentation-new/src/pages/index.astro
  apps/documentation-new/src/pages/prim/[...prim].ts
  apps/documentation-new/src/pages/test.astro
  apps/documentation-new/src/utils/lights/ElementSet.ts
  apps/documentation-new/src/utils/lights/LightCanvas.ts
  apps/documentation-new/src/utils/lights/LightElements.ts
  apps/documentation-new/src/utils/lights/LightGroup.ts
  apps/documentation-new/src/utils/lights/index.ts
Due: none

Added controls to test light behavior
  apps/documentation-new/package.json
  apps/documentation-new/src/layouts/Default.astro
  apps/documentation-new/src/pages/test.astro
  apps/documentation-new/src/utils/lights/ElementSet.ts
  apps/documentation-new/src/utils/lights/Light.ts
  apps/documentation-new/src/utils/lights/LightCanvas.ts
  apps/documentation-new/src/utils/lights/LightElements.ts
  pnpm-lock.yaml
Due: none

Fixed issue destroying lights while retaining animation (issue with order of changing brightness/state)
  apps/documentation-new/src/pages/test.astro
  apps/documentation-new/src/utils/lights/Light.ts
  apps/documentation-new/src/utils/lights/LightCanvas.ts
  apps/documentation-new/src/utils/lights/LightElements.ts
Due: none

Updated test page, some cleanup
  apps/documentation-new/src/components/Lights.astro
  apps/documentation-new/src/pages/test.astro
  apps/documentation-new/src/pages/tests/single-element.astro
  apps/documentation-new/src/utils/lights/index.ts
  apps/documentation-new/src/utils/tweak-binding.ts
Due: none

Drafting behaviors of light group
  apps/documentation-new/src/components/Lights.astro
  apps/documentation-new/src/components/Navigation.astro
  apps/documentation-new/src/layouts/Default.astro
  apps/documentation-new/src/utils/lights/Light.ts
  apps/documentation-new/src/utils/lights/LightElements.ts
  apps/documentation-new/src/utils/lights/LightGroup.ts
Due: none

Light group behavior now works
  apps/documentation-new/src/components/Lights.astro
  apps/documentation-new/src/layouts/Default.astro
  apps/documentation-new/src/pages/index.astro
  apps/documentation-new/src/pages/tests/single-element.astro
  apps/documentation-new/src/pages/what.mdx
  apps/documentation-new/src/utils/lights/ElementSet.ts
  apps/documentation-new/src/utils/lights/LightElements.ts
  apps/documentation-new/src/utils/lights/LightGroup.ts
Due: none

Changed light group behaviors
  apps/documentation-new/src/components/Lights.astro
  apps/documentation-new/src/utils/lights/Light.ts
  apps/documentation-new/src/utils/lights/LightElements.ts
  apps/documentation-new/src/utils/lights/LightGroup.ts
Due: none

Size of light animation is now relative to window size
  apps/documentation-new/package.json
  apps/documentation-new/src/utils/lights/Light.ts
  apps/documentation-new/src/utils/lights/LightCanvas.ts
  apps/documentation-new/src/utils/lights/LightGroup.ts
  pnpm-lock.yaml
Due: none

Adjusted light behaviors on homepage
  apps/documentation-new/src/components/Navigation.astro
  apps/documentation-new/src/pages/index.astro
  apps/documentation-new/src/pages/tests/single-element.astro
  apps/documentation-new/src/utils/lights/Light.ts
  apps/documentation-new/src/utils/lights/LightCanvas.ts
  apps/documentation-new/src/utils/lights/LightElements.ts
  apps/documentation-new/src/utils/lights/LightGroup.ts
Due: none

Debugging issue where list of lights is not updated when count is changed after page load
  apps/documentation-new/src/components/Navigation.astro
  apps/documentation-new/src/pages/index.astro
  apps/documentation-new/src/utils/lights/LightCanvas.ts
  apps/documentation-new/src/utils/lights/LightElements.ts
Due: none

More adjustments, fix for lights created after page load
  apps/documentation-new/src/components/Navigation.astro
  apps/documentation-new/src/pages/index.astro
  apps/documentation-new/src/pages/prim/[...prim].ts
  apps/documentation-new/src/utils/lights/Light.ts
  apps/documentation-new/src/utils/lights/LightCanvas.ts
  apps/documentation-new/src/utils/lights/LightElements.ts
  apps/documentation-new/src/utils/lights/LightGroup.ts
Due: none

Updates lockfile now that projects are renamed
  pnpm-lock.yaml
Due: none

Path conditions:
  lib.example: any of: libs/example/*
  build:example: any of: libs/example/*
  build:plugins: any of: libs/plugins/*
  lib.rpc: any of: libs/rpc/*
  build:rpc: any of: libs/rpc/*
  lib.tooling: any of: libs/tooling/*
  build:tooling: any of: libs/tooling/*
  lib.ui: any of: libs/ui/*
  build:ui: any of: libs/ui/*
  build:setup: any of: libs/**
