Repository doseofted/prim-rpc: changes, and which Woodpecker steps are due for each by the changed paths.
All: lib.example, build:example, build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, lib.ui, build:ui, build:setup

lib.example:
  steps:
    build:example:
      image: node:19.4-bullseye
      commands:
      - corepack enable
      - pnpm install
      - pnpm task dev:build -- --filter=./libs/example
      - pnpm task dev:test -- --filter=./libs/example
      when:
        event:
        - push
        branch:
        - develop
        - feature/*

build:example:
  image: node:19.4-bullseye
  commands:
  - corepack enable
  - pnpm install
  - pnpm task dev:build -- --filter=./libs/example
  - pnpm task dev:test -- --filter=./libs/example

build:plugins:
  image: node:19.4-bullseye
  commands:
  - corepack enable
  - pnpm install
  - pnpm task dev:build -- --filter=./libs/plugins
  - pnpm task dev:test -- --filter=./libs/plugins

lib.rpc:
  steps:
    build:rpc:
      image: node:19.4-bullseye
      commands:
      - corepack enable
      - pnpm install
      - pnpm task dev:build -- --filter=./libs/rpc
      - pnpm task dev:test -- --filter=./libs/rpc
      when:
        event:
        - push
        branch:
        - develop
        - feature/*

build:rpc:
  image: node:19.4-bullseye
  commands:
  - corepack enable
  - pnpm install
  - pnpm task dev:build -- --filter=./libs/rpc
  - pnpm task dev:test -- --filter=./libs/rpc

lib.tooling:
  steps:
    build:tooling:
      image: node:19.4-bullseye
      commands:
      - corepack enable
      - pnpm install
      - pnpm task dev:build -- --filter=./libs/tooling
      - pnpm task dev:test -- --filter=./libs/tooling
      when:
        event:
        - push
        branch:
        - develop
        - feature/*

build:tooling:
  image: node:19.4-bullseye
  commands:
  - corepack enable
  - pnpm install
  - pnpm task dev:build -- --filter=./libs/tooling
  - pnpm task dev:test -- --filter=./libs/tooling

lib.ui:
  steps:
    build:ui:
      image: node:19.4-bullseye
      commands:
      - corepack enable
      - pnpm install
      - pnpm task dev:build -- --filter=./libs/ui
      - pnpm task dev:test -- --filter=./libs/ui
      when:
        event:
        - push
        branch:
        - develop
        - feature/*

build:ui:
  image: node:19.4-bullseye
  commands:
  - corepack enable
  - pnpm install
  - pnpm task dev:build -- --filter=./libs/ui
  - pnpm task dev:test -- --filter=./libs/ui

build:setup:
  image: node:19.4-bullseye
  commands:
  - corepack enable
  - pnpm install

Removed various console logs while building out unresolved promises feature
  apps/documentation/src/components/ToggleEffects.astro
  libs/plugins/src/server/remix.ts
  libs/plugins/src/server/server-fetch.ts
  libs/rpc/src/client.test.ts
  libs/rpc/src/client.ts
  libs/rpc/src/extract/promises.ts
  libs/rpc/src/server.ts
  libs/rpc/src/testing.ts
Due: build:setup

Added documentation for experimental flags
  apps/documentation/src/content/docs/reference/config.mdx
Due: none

Fixed documentation for Remix plugin (wrong route name)
  apps/documentation/src/content/plugins/server/remix.mdx
Due: none

RPC is now made by POST-only when used with an HTTP plugin, introduced new keyword "idempotent" to allow RPC over GET requests
  .changeset/wet-boxes-search.md
  libs/example/src/index.ts
  libs/plugins/src/server/hono.test.ts
  libs/plugins/src/server/hono.ts
  libs/rpc/src/allow.ts
  libs/rpc/src/client.test.ts
  libs/rpc/src/interfaces.ts
  libs/rpc/src/server.ts
Due: build:setup

Updated setup documentation to use new .rpc keyword
  apps/documentation/src/content/docs/learn/advanced.mdx
  apps/documentation/src/content/docs/learn/security.mdx
  apps/documentation/src/content/docs/learn/setup.mdx
  apps/documentation/src/content/docs/reference/config.mdx
  apps/documentation/src/content/docs/reference/create.mdx
  apps/documentation/src/content/plugins/server/express.mdx
  apps/documentation/src/content/plugins/server/fastify.mdx
  apps/documentation/src/content/plugins/server/h3.mdx
  apps/documentation/src/content/plugins/server/hono.mdx
  apps/documentation/src/content/plugins/server/server-fetch.mdx
Due: none

Added tests to RPC core to ensure new RPC keyword works as expected
  libs/rpc/src/server.test.ts
Due: build:setup

Added more tests, methods-on-methods can now be specify new .rpc keyword
  libs/rpc/src/client.test.ts
  libs/rpc/src/interfaces.ts
  libs/rpc/src/options.ts
  libs/rpc/src/server.test.ts
  libs/rpc/src/server.ts
Due: build:setup

Small updates to docs to reflect new changes to methods-on-methods option
  apps/documentation/src/content/docs/reference/config.mdx
  libs/rpc/src/interfaces.ts
Due: build:setup

Added changeset to reflect change to .methodsOnMethods format
  .changeset/tender-timers-pretend.md
Due: none

Removed console logs left while debugging
  libs/plugins/src/server/hono.test.ts
  libs/plugins/src/server/hono.ts
  libs/rpc/src/server.ts
Due: build:setup

Started an optional compile step with the goal of creating server/client bundles, currently tries to detect functions that are RPC
  libs/tooling/build.config.js
  libs/tooling/package.json
  libs/tooling/src/compiler/index.test.ts
  libs/tooling/src/compiler/index.ts
  libs/tooling/src/compiler/test/index.ts
  libs/tooling/src/compiler/test/tsconfig.json
  pnpm-lock.yaml
Due: lib.tooling, build:tooling, build:setup

Added missing headers in RPC core
  libs/rpc/src/allow.ts
  libs/rpc/src/extract/base.ts
  libs/rpc/src/extract/promises.ts
Due: build:setup

Functions in variable declarations are now considered in RPC search
  libs/tooling/src/compiler/index.ts
  libs/tooling/src/compiler/test/index.ts
Due: build:setup

Added code documentation (and plans for building the plugin)
  libs/tooling/src/compiler/index.ts
  libs/tooling/src/compiler/test/imported.ts
  libs/tooling/src/compiler/test/index.ts
  libs/tooling/src/compiler/test/tsconfig.json
Due: build:setup

Renamed "prevent build" plugin from build->prevent, so as not to be confused with inline RPC compiler
  libs/tooling/build.config.js
  libs/tooling/package.json
  libs/tooling/src/prevent/index.ts
Due: lib.tooling, build:tooling, build:setup

Virtual files can now be imported with compiler plugin (client can be generated, inline RPC is currently an empty export)
  libs/tooling/build.config.js
  libs/tooling/package.json
  libs/tooling/src/compiler/compiler.d.ts
  libs/tooling/src/compiler/index.test.ts
  libs/tooling/src/compiler/index.ts
  libs/tooling/src/compiler/test/index.ts
  libs/tooling/src/compiler/test/tsconfig.json
  pnpm-lock.yaml
  prim-rpc.code-workspace
Due: lib.tooling, build:tooling, build:setup

Updates to project dependencies
  apps/documentation/package.json
  libs/example/package.json
  libs/plugins/package.json
  libs/rpc/package.json
  libs/tooling/package.json
  package.json
  patches/proxy-deep@4.0.0.patch
  pnpm-lock.yaml
Due: lib.example, build:example, build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, build:setup

Added pre-call and post-call hooks for client
  .changeset/brown-berries-prove.md
  libs/rpc/src/client.ts
  libs/rpc/src/interfaces.ts
Due: build:setup

Added tests for new hooks
  libs/rpc/src/client.test.ts
Due: build:setup

Renamed client-side hooks, added basic documentation for new hooks, updated server-side hooks to better match client-side hooks
  .changeset/brown-berries-prove.md
  .changeset/purple-oranges-dream.md
  apps/documentation/src/content/docs/reference/config.mdx
  libs/rpc/src/client.test.ts
  libs/rpc/src/client.ts
  libs/rpc/src/interfaces.ts
  libs/rpc/src/server.ts
Due: build:setup

Updated documentation for server-side hooks to reflect interface changes
  apps/documentation/src/content/docs/learn/security.mdx
  apps/documentation/src/content/docs/reference/config.mdx
Due: none

Added server-side tests for hooks, added back previously-commented-out tests, tested hooks with potential errors in functions
  libs/rpc/src/client.test.ts
  libs/rpc/src/interfaces.ts
  libs/rpc/src/server.test.ts
Due: build:setup

Resolved issues with lockfile after merge (regenerated)
  pnpm-lock.yaml
Due: none

Considering enforcement of import attributes for clarity in user codebase when RPC functions are exported
  libs/tooling/src/compiler/index.ts
  libs/tooling/src/compiler/test/index.ts
Due: build:setup

Started refactor of client, considering separation of client and proxy for easier organization
  libs/rpc/package.json
  libs/rpc/src/client/index.ts
  libs/rpc/src/client/proxy.test.ts
  libs/rpc/src/client/proxy.ts
  libs/rpc/src/client/wrappers.ts
  libs/rpc/src/interfaces.ts
  libs/rpc/src/options.ts
  pnpm-lock.yaml
Due: lib.rpc, build:rpc, build:setup

Separating proxy logic from client RPC handling, with support for method chaining (WIP)
  libs/rpc/src/client/proxy.test.ts
  libs/rpc/src/client/proxy.ts
  libs/rpc/src/interfaces.ts
Due: build:setup

Method catcher now creates RPC-like structure with method chaining but only works with promises (to be fixed)
  libs/rpc/src/client/chain-drafts.ts
  libs/rpc/src/client/proxy.test.ts
  libs/rpc/src/client/proxy.ts
Due: build:setup

Moved created promise to top-level of createMethodCatcher, now handling errors in provided handler, added some tests
  libs/rpc/src/client/proxy.test.ts
  libs/rpc/src/client/proxy.ts
  libs/rpc/src/interfaces.ts
Due: build:setup

Method catcher now has hooks for each method call or each await (or .then) on given chain of methods
  libs/rpc/src/client/proxy.test.ts
  libs/rpc/src/client/proxy.ts
Due: build:setup

Updated in-progress client to use createMethodCatcher, updated docs for method catcher, added client test
  libs/rpc/src/client/index.test.ts
  libs/rpc/src/client/index.ts
  libs/rpc/src/client/proxy.ts
Due: build:setup

Added utility to handle promises, used in new client
  libs/rpc/src/client/chain-drafts.ts
  libs/rpc/src/client/index.ts
  libs/rpc/src/client/proxy.test.ts
  libs/rpc/src/client/proxy.ts
  libs/rpc/src/client/wrapper.test.ts
  libs/rpc/src/client/wrapper.ts
  libs/rpc/src/client/wrappers.ts
Due: build:setup

Created new function to handle local functions given to client (partial modules, either given as dynamic or static import)
  libs/rpc/src/client/index.ts
  libs/rpc/src/client/local.ts
  libs/rpc/src/client/wrapper.ts
Due: build:setup

Modified Module type in Options to accept dynamic imports or function returning dynamic import
  libs/rpc/src/client/index.test.ts
  libs/rpc/src/interfaces.ts
Due: build:setup

Local module result now utilizes given pre/post request hooks
  libs/rpc/src/client/index.test.ts
  libs/rpc/src/client/local.ts
  libs/rpc/src/client/wrapper.test.ts
  libs/rpc/src/client/wrapper.ts
Due: build:setup

FormData and FormEvents can be handled on locally provided (partial) module
  libs/rpc/src/client/local.ts
  libs/rpc/src/client/wrapper.test.ts
  libs/rpc/src/extract/blobs.ts
Due: build:setup

Client now supports optional "OverrideModule" type parameter to support partial modules
  libs/rpc/src/client/index.test.ts
  libs/rpc/src/client/index.ts
  libs/rpc/src/interfaces.ts
Due: build:setup

Created workaround for TypeScript type parameter limitation, started adding tests for types
  libs/rpc/package.json
  libs/rpc/src/client/index.test.ts
  libs/rpc/src/client/index.ts
  libs/rpc/src/client/local.ts
  libs/rpc/src/interfaces.ts
  libs/rpc/src/options.ts
  libs/rpc/src/types/merge.test-d.ts
  libs/rpc/src/types/merge.ts
Due: lib.rpc, build:rpc, build:setup

Moved and modified RpcModule type into its own file outside of old interfaces (being utilized in rewritten client)
  libs/rpc/src/client/index.test.ts
  libs/rpc/src/client/index.ts
  libs/rpc/src/types/merge.ts
  libs/rpc/src/types/rpc-module.test-d.ts
  libs/rpc/src/types/rpc-module.ts
Due: build:setup

Fixes for tests, linting errors, and simplified logic for resolving local modules
  .gitignore
  libs/rpc/src/client/index.test.ts
  libs/rpc/src/client/index.ts
  libs/rpc/src/client/local.ts
  libs/rpc/src/client/proxy.test.ts
  libs/rpc/src/types/merge.test-d.ts
Due: build:setup

Added tests for local module handling (and pre/post hooks)
  libs/rpc/src/client.test.ts
  libs/rpc/src/client/index.test.ts
  libs/rpc/src/client/index.ts
  libs/rpc/src/client/local.test.ts
  libs/rpc/src/client/local.ts
  libs/rpc/src/interfaces.ts
Due: build:setup

Path conditions:
  lib.example: any of: libs/example/*
  build:example: any of: libs/example/*
  build:plugins: any of: libs/plugins/*
  lib.rpc: any of: libs/rpc/*
  build:rpc: any of: libs/rpc/*
  lib.tooling: any of: libs/tooling/*
  build:tooling: any of: libs/tooling/*
  lib.ui: any of: libs/ui/*
  build:ui: any of: libs/ui/*
  build:setup: any of: libs/**
