Repository doseofted/prim-rpc: changes, and which Woodpecker steps are due for each by the changed paths.
All: lib.example, build:example, build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, lib.ui, build:ui, build:setup

.woodpecker/.lib.example.yml:

pipeline:
  build:example:
    image: node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install # --filter=./libs/example
      - pnpm task dev:build -- --filter=./libs/example
      - pnpm task dev:test -- --filter=./libs/example
    when:
      event: [push]
      branch:
        - develop
        - feature/*

when:
  path: "libs/example/*"

.woodpecker/.lib.plugins.yml:

pipeline:
  build:plugins:
    image: node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install # --filter=./libs/plugins
      - pnpm task dev:build -- --filter=./libs/plugins
      - pnpm task dev:test -- --filter=./libs/plugins
    when:
      event: [push]
      branch:
        - develop
        - feature/*
      path: "libs/plugins/*"

.woodpecker/.lib.rpc.yml:

pipeline:
  build:rpc:
    image: node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install # --filter=./libs/rpc
      - pnpm task dev:build -- --filter=./libs/rpc
      - pnpm task dev:test -- --filter=./libs/rpc
    when:
      event: [push]
      branch:
        - develop
        - feature/*

when:
  path: "libs/rpc/*"

.woodpecker/.lib.tooling.yml:

pipeline:
  build:tooling:
    image: node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install # --filter=./libs/tooling
      - pnpm task dev:build -- --filter=./libs/tooling
      - pnpm task dev:test -- --filter=./libs/tooling
    when:
      event: [push]
      branch:
        - develop
        - feature/*

when:
  path: "libs/tooling/*"

.woodpecker/.lib.ui.yml:

pipeline:
  build:ui:
    image: node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install # --filter=./libs/ui
      - pnpm task dev:build -- --filter=./libs/ui
      - pnpm task dev:test -- --filter=./libs/ui
    when:
      event: [push]
      branch:
        - develop
        - feature/*

when:
  path: "libs/ui/*"

.woodpecker/.libs.yml:

pipeline:
  build:setup:
    image: &image node:19.4-bullseye
    commands:
      - corepack enable
      - pnpm install
    when: &when
      event:
        - push
      branch:
        - develop
        - feature/*
      path:
        - "libs/**"

  build:example:
    image: *image
    group: build
    commands:
      - pnpm task dev:build -- --filter=./libs/example
      - pnpm task dev:test -- --filter=./libs/example
    when:
      <<: *when
      path: "libs/example/*"

  build:rpc:
    image: *image
    group: build
    commands:
      - pnpm task dev:build -- --filter=./libs/rpc
      - pnpm task dev:test -- --filter=./libs/rpc
    when:
      <<: *when
      path: "libs/rpc/*"

  build:plugins:
    image: *image
    group: build
    commands:
      - pnpm task dev:build -- --filter=./libs/plugins
      - pnpm task dev:test -- --filter=./libs/plugins
    when:
      <<: *when
      path: "libs/plugins/*"

  build:tooling:
    image: *image
    group: build
    commands:
      - pnpm task dev:build -- --filter=./libs/tooling
      - pnpm task dev:test -- --filter=./libs/tooling
    when:
      <<: *when
      path: "libs/tooling/*"

  build:ui:
    image: *image
    group: build
    commands:
      - pnpm task dev:build -- --filter=./libs/ui
      - pnpm task dev:test -- --filter=./libs/ui
    when:
      <<: *when
      path: "libs/ui/*"

Non-function types are now removed in client types
  .changeset/smart-beans-pretend.md
  libs/example/src/things.ts
  libs/rpc/src/client.test.ts
  libs/rpc/src/interfaces.ts
Due: build:setup

Removed "PromisifiedModule" export (now renamed shorter "RpcModule" for external usage)
  libs/rpc/src/client.ts
  libs/rpc/src/index.ts
  libs/rpc/src/interfaces.ts
  libs/rpc/src/server.ts
Due: build:setup

Fix for changed export
  apps/frontend/src/components/CodeHighlighted/index.tsx
Due: none

Updated prevent import tool docs
  docs/text/reference/tooling.mdx
Due: none

Fix missing brace in docs
  docs/text/reference/tooling.mdx
Due: none

Allow methods on methods to work when in allowed list (previous checks didn't allow them)
  .changeset/tricky-days-bathe.md
  apps/backend/src/index.ts
  libs/rpc/src/client.test.ts
  libs/rpc/src/server.ts
Due: build:setup

Checking for internal symbol before returning thrown error
  libs/rpc/src/server.ts
  libs/rpc/src/validate.ts
Due: build:setup

Fix for functions being excessively deep due to methods-on-methods (check is no longer recursive on function properties)
  libs/rpc/src/client.test.ts
  libs/rpc/src/interfaces.ts
Due: build:setup

Added changeset
  .changeset/gold-starfishes-hear.md
Due: none

Clean up of RPC check on server (including types)
  libs/rpc/src/server.ts
  libs/rpc/src/validate.ts
Due: build:setup

Added a test for just-safe-get behavior to ensure it's not changed in future
  libs/rpc/src/server.test.ts
Due: build:setup

Allow list option is now typed according to given module
  libs/example/src/index.ts
  libs/rpc/src/client.test.ts
  libs/rpc/src/client.ts
  libs/rpc/src/interfaces.ts
Due: build:setup

Async functions now retain their JSDoc comment (need workaround for function transform yet), experimenting with option to retain module property JSDoc comments
  libs/rpc/src/interfaces.ts
Due: build:setup

Added note about potential option change
  apps/frontend/src/app/prim/client.ts
  libs/rpc/src/interfaces.ts
Due: build:setup

Module generic parameter must now line up with provided module option (now reflected in docs website), allow list now works with dynamic imports
  .changeset/sweet-hats-smash.md
  .changeset/tame-news-cheat.md
  apps/frontend/src/app/prim/client.ts
  libs/rpc/src/interfaces.ts
Due: build:setup

Node version used in project is now latest major LTS release (minor/patch no longer specified: use latest)
  .nvmrc
  misc/Taskfile.dev.yml
Due: none

Upgraded project dependencies (excluding TypeScript, currently 5.1.3: 5.1.5 introduces issues using object generic)
  apps/backend/package.json
  apps/frontend/package.json
  libs/example/package.json
  libs/plugins/package.json
  libs/rpc/package.json
  libs/tooling/package.json
  libs/ui/package.json
  package.json
  pnpm-lock.yaml
Due: lib.example, build:example, build:plugins, lib.rpc, build:rpc, lib.tooling, build:tooling, lib.ui, build:ui, build:setup

Upgraded pnpm
  libs/tooling/src/docs/index.test.ts
  package.json
Due: build:setup

Trying to add back cache in CI with new pnpm version
  .github/workflows/build.yml
Due: none

Removed Woodpecker configs (now using Github Actions, add back if decided to switch back)
  .woodpecker/.apps.yml
  .woodpecker/.libs.yml
  .woodpecker/.npm.yml
Due: none

Trying potential fix for CI cache
  package.json
Due: none

Another cache fix attempt
  .github/workflows/build.yml
Due: none

Giving up on cache again, @go-task/cli binary is not found when cache is used
  .github/workflows/build.yml
  package.json
Due: none

Tring to disable cache of post install hook as this seems to be an issue in CI
  .github/workflows/build.yml
  .npmrc
Due: none

pnpm cache may possibly be working, documented potential solution
  .npmrc
Due: none

Removed old zx utilities
  misc/zx-utils.mjs
Due: none

Attempt fix for Vercel cache workspace issue
  pnpm-workspace.yaml
Due: none

Revert "Attempt fix for Vercel cache workspace issue"
  pnpm-workspace.yaml
Due: none

Small change to contributor guide (no longer using git-flow)
  CONTRIBUTING.md
Due: none

Removed UI package, tooling intended for this package should be moved to tooling package and be framework-agnostic
  LICENSE.md
  apps/frontend/package.json
  compose.dev.yml
  libs/ui/.eslintignore
  libs/ui/.eslintrc.cjs
  libs/ui/.stylelintrc.json
  libs/ui/CHANGELOG.md
  libs/ui/LICENSE.md
  libs/ui/index.html
  libs/ui/package.json
  libs/ui/src/components/PrimDocs/PrimDocs.react.tsx
  libs/ui/src/components/PrimDocs/PrimDocs.vue
  libs/ui/src/components/PrimTest/PrimTest.react.tsx
  libs/ui/src/components/PrimTest/PrimTest.vue
  libs/ui/src/empty.test.ts
  libs/ui/src/globals.d.ts
  libs/ui/src/index.react.ts
  libs/ui/src/index.vue.ts
  libs/ui/src/main.react.tsx
  libs/ui/src/main.vue.ts
  libs/ui/tsconfig.base.json
  libs/ui/tsconfig.json
  libs/ui/tsconfig.react.json
  libs/ui/tsconfig.vite.json
  libs/ui/tsconfig.vue.json
  libs/ui/vite.config.ts
  libs/ui/vitest.config.ts
  misc/compose.sync.yml
  pnpm-lock.yaml
  prim-rpc.code-workspace
Due: lib.ui, build:ui, build:setup

Upgraded images used in project
  compose.yml
  misc/Taskfile.dev.yml
Due: none

Added notes to self about publish CI action
  .github/workflows/publish.yml
Due: none

Allow list in server options can now be typed
  libs/rpc/src/interfaces.ts
  libs/rpc/src/server.ts
Due: build:setup

Added tests to ensure web worker plugin/handler is working
  libs/plugins/package.json
  libs/plugins/src/ipc/testing/worker-client.ts
  libs/plugins/src/ipc/testing/worker-server.ts
  libs/plugins/src/ipc/web-worker.test.ts
  pnpm-lock.yaml
Due: build:plugins, build:setup

Small cleanup of options passed to message transport setup
  libs/plugins/src/ipc/testing/shared-server.ts
  libs/plugins/src/ipc/testing/worker-client.ts
  libs/plugins/src/ipc/web-worker.test.ts
  libs/plugins/src/ipc/web-worker.ts
  libs/plugins/tsconfig.json
Due: build:plugins, build:setup

Shared Worker is now partially working (works alone but second instance creates issues, likely due to either connect event or Vitest mock workers, maybe both)
  libs/plugins/src/ipc/testing/client-worker.ts
  libs/plugins/src/ipc/testing/server-shared.ts
  libs/plugins/src/ipc/testing/server-worker.ts
  libs/plugins/src/ipc/testing/shared-server.ts
  libs/plugins/src/ipc/web-worker.test.ts
  libs/plugins/src/ipc/web-worker.ts
Due: build:setup

More attempts to get Shared Worker working (with multiple connect events, not working yet)
  libs/plugins/src/ipc/web-worker.test.ts
  libs/plugins/src/ipc/web-worker.ts
Due: build:setup

More attempts to get Shared Worker working (second connect event isn't received, doesn't appear to be firing at all)
  libs/plugins/src/ipc/testing/server-shared.ts
  libs/plugins/src/ipc/web-worker-shared.test.ts
  libs/plugins/src/ipc/web-worker.test.ts
  libs/plugins/src/ipc/web-worker.ts
Due: build:setup

Cleanup of worker plugin code, added tests for both shared/web worker in both server/client usages
  libs/plugins/src/ipc/testing/client-shared.ts
  libs/plugins/src/ipc/testing/server-shared.ts
  libs/plugins/src/ipc/web-worker-shared.test.ts
  libs/plugins/src/ipc/web-worker.test.ts
  libs/plugins/src/ipc/web-worker.ts
Due: build:setup

Added changeset describing changes (shared worker support and small type improvement to Prim RPC core)
  .changeset/old-buses-cheer.md
  .changeset/tasty-lizards-wash.md
Due: none
